﻿
/* LAYOUT AND COMMON STYLES ###################################################################### */

.optionslist>a:focus, .optionslist>a:active {
  outline: none;
}

.optionslist>a, .optionslist>a:visited {
    color: #333;
    text-decoration: none;
}

ul,li 
{
    margin: normal;
    padding: normal;
}

/*#step1, #step2, #step3, #step4, #step5, #step5, #step6 {*/
.box {
	width: 940px;
	padding-bottom:10px;	
	clear: both;
	float:left;
	position: relative;
    margin: 0 10px;
}

.step7 {
	text-align:right;
	width: 960px;
}

.step1-title, .step2-title, .step3-title, .step4-title, .step5-title, .step6-title {
    background-image: url(/images/FastCheckout/title-icons.png);
    background-repeat:no-repeat;
    padding-left:50px;
    height:23px;
    line-height:23px;	
    margin:5px 0px 5px 0px;
    background-position: 11px 5px;	
}

.step3-title {
	background-position: 11px -25px;
}

.step4-title {
	background-position: 11px -57px;
	width:500px;
	float:left;
}

.step5-title {
	background-position: 11px -88px;
}

.step6-title {
	background-position: 11px -120px;
	width:500px;
	float:left;
}

.boxinner {
	background-color: #efefef;
	background-image: url(/images/FastCheckout/box-gradient-background.png);
	background-repeat:repeat-x;
	background-position:bottom;
	width:938px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ccc;
	float:left;
	padding-bottom:10px;
}

.continue-shopping {
	background:#efefef;
	width:720px;
	height:100px;
	border:2px solid #ccc;
	float:left;
	text-align:center;
	padding:30px 0px;
	font-weight:bold;
}
 
.box h1 {
	text-transform:uppercase;
	margin:0;
	padding:10px 10px 0px 45px;
	display:block;	
	font-size:15px;
	color:#333;
	/*background:#e9e9e9;
	border-bottom:1px solid #ccc;*/
}

.box h2 {
	text-transform:uppercase;
	margin:0;
	padding:10px 0px 10px 0px;
	display:block;
	font-size:15px;
	color:#333;
	border-top:1px dashed #ccc;
	margin-top:15px;
}

.help {
    position: absolute;
    top: 0;
    right: -20px;
	width: 20px;
	height: 53px;
	background: #cfd8f0;
	text-align: center;
}

.help a {
	display:block;
	width: 20px;
	height:25px;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	text-decoration:none;
}

#help1, #help2, #help3, #help4, #help5
{
    width: 600px;
    border:1px solid #ddd;
    padding:15px;
    color:#000;
    background-color: #efefef;
	background-image: url(/images/FastCheckout/box-gradient-background.png);
	background-repeat:repeat-x;
	background-position:bottom;
}

#help1 span, #help2 span, #help3 span, #help4 span, #help5 span 
{
    font-weight:bold;
}

#help1 ul, #help2 ul, #help3 ul, #help4 ul, #help5 ul 
{
    list-style-type: square;
}


/* FB centered over cart/checkout */
#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	/* margin: 0 0 0 80px; */
	padding: 20px;
	z-index: 1101;
	display: none;
}

form, .boxcontentleft {
	margin:0;
	padding:0;
}

.fast-customer-info-leftcol 
{
    margin:10px 0;
    float:left;
    width:400px;
    border-right:1px dashed #ccc;
    width: 420px;
	padding-right:30px;
}

.boxcontentleft {
	margin: 0px 0px 5px 0px;
	float:left;
	width: 420px;	
}

.boxcontentright {
	margin: 4px 0px 0px 0px;
	padding-left:30px;
	float:left;
	width:420px;
}

/* ############################################################# */
/* STYLE AND POSITIONING ####################################### */

.optionslist {
	width: 908px;
	margin-left:auto;
	margin-right:auto;
}

.country-options-boxtop, .payment-options-boxtop, .freight-options-boxtop {
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 -60px no-repeat;	
    height:10px;
    clear:both;
}

.optionbox {
	background: #fff;
	float:left;
	display:block;
	width: 133px;
	height: 58px;
	text-align:center;
	margin:10px 22px 0px 0px;
	font-size:12px;
	line-height:11px;
	background: transparent url(/images/FastCheckout/button-background.png) 0 -58px no-repeat;
	cursor:pointer;
	text-shadow: #ffffff 1px 1px 1px;
}

.optionbox:hover {
	background: transparent url(/images/FastCheckout/button-background.png) 0 -116px no-repeat;
	text-decoration:none;
}

.optionbox-selected {
	background: #fff;
	float:left;
	width: 133px;
	height: 58px;
	text-align:center;
	margin:10px 22px 0px 0px;
	font-size:12px;
	line-height:11px;
	background: transparent url(/images/FastCheckout/button-background.png) 0 0 no-repeat;
	text-shadow: #ffffff 1px 1px 1px;
}

.optionbox-selected.optionbox-item5 {
    margin-right: 0;
}

.optionbox-nooptions {
    background:url("/images/FastCheckout/button-background-nooptions.png") no-repeat scroll 0 -58px transparent;
    cursor:pointer;
    display:block;
    float:left;
    font-size:12px;
    height:58px;
    width:133px;
    line-height:11px;
    margin:10px 22px 0 0;
    text-align:center;
    text-shadow:1px 1px 1px #FFFFFF;
}


.optionbox-nooptions:hover {
	background: transparent url(/images/FastCheckout/button-background-nooptions.png) 0 -116px no-repeat;
    text-decoration:none;
}

.optionbox-nooptions-selected {
	background: #fff;
	float:left;
	display:block;
	width: 133px;
	height: 58px;
	text-align:center;
	margin:10px 22px 0px 0px;
	line-height:11px;
	font-size:12px;
	line-height:11px;
	background: transparent url(/images/FastCheckout/button-background-nooptions.png) 0 0 no-repeat;
	cursor:pointer;
	text-shadow: #ffffff 1px 1px 1px;
}

.upFastCountrySelect a:last-child,
.upFastPaymentSelect .optionslist:last-child .optionbox-item5,
.upFastPaymentSelect .optionslist:last-child .optionbox-item6,
.upFastPaymentSelect .paymentoptionbox-item6
{
    margin-right: 0;
}

.optionbox-nooptions-selected:hover
{
    text-decoration:none;
}


.optionbox img, .optionbox-nooptions img, .optionbox-selected img, .optionbox-nooptions-selected img {
	margin-top:9px;
	border:0;
}

.optionbox p, .optionbox-selected p {
    line-height:55px;
    margin:0;
    padding:0;
}

.options-boxtop-nooptions /* Alternativ utan tillval */
{
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 -60px no-repeat;
}

.options-boxtop-1  /* Alternativ 1 fr vänster */
{
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 -50px no-repeat;
}

.options-boxtop-2  /* Alternativ 2 fr vänster */ 
{
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 -40px no-repeat;
}

.options-boxtop-3  /* Alternativ 3 fr vänster */ 
{
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 -30px no-repeat;
}

.options-boxtop-4  /* Alternativ 4 fr vänster */ 
{
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 -20px no-repeat;
}

.options-boxtop-5  /* Alternativ 5 fr vänster */ 
{
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 -10px no-repeat;
}

.options-boxtop-6  /* Alternativ 6 fr vänster */ 
{
    background: transparent url(/images/FastCheckout/6-options-top-background.png) 0 0 no-repeat;
}

.country-options, .payment-options {
	background:#fdfef8;
	width:908px;
	clear:both;
	float:left;
	background:transparent url(/images/FastCheckout/6-options-background.png) 0 0 repeat-y;
	/* height:100px;*/
}

.payment-no-active-payment-methods 
{
    margin: 15px auto;
    padding-bottom:15px;
}

.country-select-other-name {
    background-repeat:no-repeat;
    display:block;
    float:left;
    margin:5px 30px;
    padding-left:25px;
    width:114px;	
}

.country-options-inner, .payment-options-inner {
float:left;
background-image: url(/images/FastCheckout/6-options-bottom-background.png);
background-position: bottom;
background-repeat:no-repeat;
width:100%;
}

.country-options-boxtop {
    background-position:0 0;
}

.country-options-inner p {
padding:10px 0px 0px 10px;
margin:0;
}

.payment-options-inner p {
	text-align:center;
}

.FastPaymentSelectLabelCard
{
    display:block;
    font-weight:bold;
    padding-bottom: 10px;
}

.fastcart-sums-wrapper 
{
    position:relative;
    float:left;
    width:100%;
}
 
.fastcart-campaign-input 
{
    position:absolute;
    bottom:22px;
    width: 400px;
}
 
.fastcart-campaign-input input[type="text"]
{
    width:310px;
    float:left;
    height:19px;
    margin-right:5px;
    border: solid 2px #DFDFDF;
}
 
.fastcart-campaign-input p 
{
    margin:0;
    padding:0;
} 

.countries-left, .countries-middle, .countries-right {
	width:180px;
	float:left;
	font-size:12px;
	list-style-type:none;
	cursor:pointer;
	margin:20px 20px;
	padding:0;
	line-height:180%;
}

.basketitem {
	padding:10px 0px 10px 0px;
	border-bottom: 1px dashed #ccc;
	float:left;
	width:100%;
	clear:both;
}

.even {
	background: #eaeaea;
}

.itemimage, .itemimagenoimage, .iteminfo, .itemprice, .itemamount, .itemtotal {
	float:left;
}


.itemimage {
	border:2px solid #ccc;
	background:#fff;
	margin-right:10px;
    position: relative;
}

.itemimagenoimage 
{
	margin-right:10px;
	width: 115px;
    min-width: 115px;
	margin: 5px;
}

.itemimage img {
	margin: 5px;
	border:0; 
}

.iteminfo {
	margin-right:20px;
	width:200px;
}

.iteminfo p, .tableheaders p {
	margin:0;
	padding:0;
}

.iteminfo-name, .itemprice, .itemtotal {
	text-transform:uppercase;
	font-weight: bold;
	color:#000;
	font-size:14px;
	padding-top:3px;
}

.iteminfo-name a {
	color:#000;
	text-decoration:none;
	margin-bottom: 3px;
}

.iteminfo-name a:hover 
{
    border-bottom: 1px dashed #999;
}

.itemprice {
	padding-right: 20px;
    text-align: right;
    text-transform: none;
    width: 130px;
}

.itemtotal {
	float:right;
	text-transform:none;
	width: 100px;
	text-align:right;
	padding-right:5px;
}

.iteminfo-brand {
	text-transform:uppercase;
	font-weight: bold;
	color:#666;
	font-size:14px;
}

.iteminfo-attributes, .iteminfo-attributes a, .iteminfo-comment, .iteminfo-comment a {
	font-size:12px;
	color:#666;
}

.iteminfo-comment span
{
	margin-left: 5px;
	cursor: pointer;
}

.txt-itemamount, .itemamount input, .itemamount img, .itemamount a {
	float: left;
	margin-right:5px;
}

.itemamount input[type=text] {
	width:30px;
	text-align:center;
	border: solid 2px #DFDFDF;
}


.tableheaders {
	border-bottom: 1px dashed #ccc;
	padding: 10px 0px 5px 0px;
	margin-bottom:0px;
	width:100%;
	clear:both;
	float:left;
}

.tableheaders p {
	display: block;
	float:left;
	font-size: 14px;
	font-weight:bold;
	color:#666;
}

.tableheaders-article {
	width: 300px;
}

.tableheaders-price, .tableheaders-amount, .tableheaders-total {
	width:93px;
	text-align:right;
}

.tableheaders-total {
	width: 420px;
}

.basketsums {
	padding: 6px 0px;
	float: right;
}

.itemtotals {
	width:260px;
	float: right;
	clear:both;
	padding:3px 0px;
	border-bottom: 1px dashed #ccc;
}

.verybottom .itemtotals 
{
    width:277px;
}

.largeinfo p {
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:0;
	margin:0;
}

.smallinfo p, .smallinfo span {
	font-size:10px;
	color:#666;
	padding:0;
	margin:0;
}

.aleft {
	display:block;
	width: 130px;
	float: left;
	text-align:left;
}

.aright {
	display:block;
	width: 130px;
	float: right;
	text-align:right;
}



.campaigncodetitle {
	color:#000;
	font-weight:bold;
	font-size:14px;
}


.upFastDiscount .campaign-button 
{
    margin: 1px 2px;
    padding: 3px 10px;
}

.grandtotal {
	float: right;
	width: 258px;
	padding: 10px 0px;
	margin:4px 0px 10px 0px;
	text-align:center;
	background-color:#ccc;
	clear:both;
}

.verybottom .fast-cart-summary {
	float: left;
	width: 277px;
	padding: 10px 0px;
	margin: 10px 0;
	text-align:center;
	background-color:#ccc;
	clear:both;
}

.submitter {
	width:277px;
	clear:both;
	padding-bottom:30px;
}

.submitter a {
	background: transparent url(/images/FastCheckout/submit-button-large.png) 0 0 no-repeat;
	display:block;
	width:277px;
	height:58px;
	text-shadow: #5b8b19 1px 1px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	
}

.submitter a:hover {
background: transparent url(/images/FastCheckout/submit-button-large.png) 0 -58px no-repeat;
}

.nextstep-btn {
}

.fast-submit-btn-icon 
{
    margin-right:5px;
    position:relative;
    top:6px;
}

.fast-submit-btn-text 
{
    display:block;
    font-size:14px;
    width:277px;
    padding-top:17px;
    color:#fff;
}

.approve {
	width:280px;
	float:right;
	font-size:12px;
	text-align:left;
	padding:0px 10px 20px 0px;
}

.verybottom {
	float:right;
	clear: both;
	padding-right:10px;
	width:277px;
}

.totalsum {
	font-size:13px;
	font-weight:bold;
	color:#000;
	margin:0;
	padding:0;
}


.totalvat {
	font-size:12px;
	font-weight:bold;
	color:#666;
	margin:0;
	padding:0;	
}

.getinfo {
	font-size:16px;
	padding:10px;
	background:#ddd;
	width:400px;
	height: 70px;
	margin-bottom:13px;
}

.getinfo p 
{
    margin:5px 0 0 0;
    padding:0;
}

.getinfo a {
	margin-top:10px;
}

.get-decidas-info 
{
    height: 70px;
}


.hamta-personnummer 
{
	margin-right: 5px;
    margin-top: 11px;
    width: 280px;
    padding:4px;
    float:left;
}

.loggain {
	/*width: 233px;*/
	height:56px;
	text-align:center;
	background:#ddd;
	padding:10px;
	margin:3px 0 10px 0;
}

.loggain > span 
{
    font-size: 12px;
    display: block;
    width: 70%;
    margin: 0 auto;    
}
	
.aForgotPassword, .aBackToLogin
{
}

.aForgotPassword, .aBackToLogin:hover {
}

.boxcontentleft p {
	margin:0px 0px 6px 0px;
	padding:0;
}

.fleft 
{
	display:block;
	width: 210px;
	float:left;
	
}

.fleft input {
	width:193px;
	color:#666;
}

 .formrow 
 {
     float:left;
     clear:both;
     width:100%;
 }

.fright input {
	width:193px;
	color:#666;
}

.fright p {
	padding:0;
}

.fright 
{    
	display:block;
	width: 204px;
	float:left;
}


.label, .fright a, .long-opt {
	display:block;
	font-size:12px;
	color:#333;
}

.long-opt 
{
    clear:both;
    height:40px;
    padding:0 0 6px 0;
}

.checkbox-label
{
	display: inline;
	font-size:12px;
	color:#333;
}

.long {
	clear:both;
}

.long input {
	width: 401px;
	color:#666;
}

.extraadresstoggle a
{
    margin-top:15px;
    width:178px;
    font-size:11px;
}

.fastCustomerInfoCOAddress input, .fastCustomerInfoAlternativeCOAddress input
{
   width:193px;
	color:#666;
}



.showhide {
	font-size:12px;
}

.boxcontentright p {
	margin:0;
	padding:0;
	font-size:12px;
	margin-bottom:10px;
}

.boxcontentright select {
	width:415px;
	font-size:12px;
	margin-bottom:10px;
}


.divComment1 {
	padding-top: 14px;
}

.comment1, .comment2 {
	width:415px;
	color:#666;
}

.passwordbox {
	width: 415px;
	margin-bottom: 5px;
	color:#666;
}

.step6-error {
padding-bottom:10px;
border-bottom:1px dashed #ccc;	
clear:both;
}

.step1-error {
padding-bottom:10px;
clear:both;
}

.step1-error {
	padding-top:10px;
}

.upErrorMessage 
{
    float:left;
}

.step1-error-inner, .step6-error-inner {
	background:#9c0303;
	padding:10px;
	color:#fff;
	border:3px solid #ccc;
	margin: 10px 0px 0px 0px;
	float:left;
	clear:both;
	width:870px
}

.step1-error-inner 
{
    width: 365px;
    margin:0px;
    text-align:center;
}

.step1-error-inner h1, .step6-error-inner h1 {
	color:#fff;
	padding-left: 10px;
}

.error6 
{
    color:#ffba01;
    cursor: pointer;
}

.step6-error-inner ul 
{
    margin:10px 0 0 10px;
    padding:0;
}

.step6-error-inner li 
{
    width: 195px;
    margin: 3px 10px 10px 15px;
    padding:0;
    color:#fff;
    float:left;
    list-style-type: square;
}
   
.step6-error-inner label 
{
    
    color:#ffba01;
    text-decoration: none;
    border-bottom: 1px dotted #ffba01;
}

.amounterror {
	padding:5px;
	width:70px;
	clear:both;
}

.amounterror-inner {
	background:#9c0303;
	text-align:center;
	color:#fff;
	font-size:12px;
	padding:3px;
	width:70px;
}

.error1, .error6 {
	text-decoration:underline;
	cursor:pointer;
}

#bodyFastLoginBox
{
    background:#333;
    margin:0;
    background-image: none;
    color:#fff;
    font-family: Arial, Helvetica, Sans-Serif;
}

.fast-login-box 
{
    background:#333;
    margin:0;
    background-image: none;
    color:#fff;
}

.fast-login-box-inner
{
    width: 400px;
    margin:0 auto;
    padding: 20px 0;
}

.fast-login-box-inner-header
{
    font-size:22px;
    font-weight:bold;
    display:block;
    margin-bottom:10px;
    text-transform:uppercase;
}

.fast-login-box-inner-reminder 
{
    color:#fff;
}

.fast-login-box-inner input[type=text] 
{
    width:400px;
}

.fast-login-box-inner input[type=password]
{
    width:395px;
}

.fast-login-btn 
{
    float:right;
}

.upFastLogin 
{
	height: 250px;	
}

.btn-delete {
	float:left;
	width:21px;
	height:22px;
}
	
.btn-delete img {
	width:21px;
	height:22px;
}

.btn-delete input {
	width:21px;
	height:22px;
	background: transparent url(/images/FastCheckout/button-delete-background.png) 0 0 no-repeat;
}

.btn-delete  .fast-btn-delete-item:hover
{
background-position: 0 -22px;
}

.subtlebutton {
	display: inline-block;
	background:#ddd;
	color:#333;
	text-decoration: none;
	padding:3px 10px;
	font-size:11px;
}

.subtlebutton:hover {
	background:#dde7bf;
	text-decoration: none;	
}

.byt-kundtyp {
	/* font-size:11px;
	font-weight:normal;
	float:right;
	text-transform:none;
	cursor:pointer;
	padding:0px 20px; */
	font-size: 11px;
	font-weight: normal;
	float: right;
	text-transform: none;
	cursor: pointer;
	padding: 5px 20px;
	margin: 10px 22px 0 0;
	border-radius:5px;
}

.adress-land 
{
    padding-bottom:10px;
    float:left;
}

.adress-land div {
	font-size:18px;
	margin-bottom:4px;
	clear:both;
}

.adress-landnamn 
{
    display:inline-block;
    margin-top:5px;
    padding-left:5px;
}

.adress-land img {
	margin-bottom:15px;
	margin-right:10px;
	margin-top:0px;
}

.adress-land span 
{
    float:left;
}

p .flagicon 
{
    margin:0;
} 

.required {
	color:red;
	font-weight:bold;
	font-size:18px;
	line-height:1px;
	margin:0 5px;
}

div.MainAreaCheckout {
    padding-bottom:0;
}

.optionbox-item1
{
    margin-bottom:0;
}

.upFastCountrySelect .optionbox-item5
{
    margin-bottom:10px;
}

.optionbox-item6
{
    margin-bottom:10px;
}
.optionbox-selected 
{
    margin-bottom:0;
}
.optionbox-selected:hover
{
    text-decoration:none;
}
.spanPaymentTypePaymentMessageValue 
{
    margin:0;
    padding:15px 5px 15px 15px;
    float:left;
    width:520px;
}

.payment-options-choices 
{
   
    margin:15px 0;
    padding:0px 10px;
    border-left:1px dashed #ccc;
    padding-left:10px;
    display:block;
    width:340px;
    float:right;
}

.paymentInfoPaymentSelectCardEdit 
{
    width: 300px;
    float:left;
}


.FastPaymentSelectLabelHirePurchase, .fast-payment-monthly-cost-span
{
    font-weight:bold;
}

.fast-payment-monthly-cost-span 
{
    float:right;
    clear:both;
}

.FastPaymentSelectLabelHirePurchase 
{
   display:block;
}
.hire-purchase-list 
{
    float:left;
}
.hire-purchase-div
{
float:left;
width: 120px;
margin-left:10px;
}

.hire-purchase-div table 
{
    margin-top:4px;
    width:100%;
}
.hire-purchase-div td
{
    height:12px;
    text-align:right;
}

hire-purchase-monthly-cost-table 
{
    margin-top:3px;
}

.hire-purchase-monthly-cost-info {
    margin: 0;
    padding: 5px 15px 15px 15px;
    float: left;
    width: 500px;
}

.hire-purchase-monthly-cost-info .padding-left {
    padding: 0 0 0 10px;
}

.hire-purchase-monthly-cost-info .use-case {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 0 0;
}

.hire-purchase-monthly-cost-shop-info
{
    display: none; 
    position: absolute; 
    width: 310px; 
    text-align: left; 
    padding:10px; 
    border: dotted 1px black; 
    background: ghostwhite; 
    z-index:1000; cursor: pointer; 
    margin-left: 7px;
}
/* FB-Info */
.fb-info {
	background:#333;
	padding-top:50px;
	color:#fff;
	width:450px;
	height:200px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:150%;
}

.fb-info .fb-wrapper {
	width:302px;
	margin-left:auto;
	margin-right:auto;
}

.fb-info h2 {
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
}

.fb-info a {
	background: transparent url(/images/fastcheckout/fb-inlogg-btn.png) 0 0 no-repeat;
	display:block;
	width:79px;
	height:24px;
	text-align:center;
	font-weight:bold;
	color:#000;
	text-transform:uppercase;
	line-height:24px;
	text-decoration:none;
	text-shadow:#fff 1px 1px;
	margin:0 auto;
}

.fb-info a:hover {
	background-position: 0 -24px;
	text-shadow:#fff 1px 1px;
}

.fb-buttonwrapper, .btnLoadProfile-wrapper, .btnForgotPassword-wrapper {
    float: right;
}

.fb-buttonwrapper a, .btnLoadProfile-wrapper a, .btnForgotPassword-wrapper a {
}

.fb-buttonwrapper a:hover, .btnLoadProfile-wrapper a:hover, .btnForgotPassword-wrapper a:hover {

}

.loadProfile-error 
{
    display:block;
    clear:both;
    background:#000;
    color:#fff;
    padding:10px;
}

/* Visa/dölj formulärfält */
.hidethis, .visible {display: block;}
.showthis, .invisible {display: none;}

/* Visa aktivt formulärfält */
.focusField
{
    border:solid 2px #c6d2a2;
    background:#fff;
    color:#000;
}
    
.idleField
{
    background:#fff;
    color: #6F6F6F;
	border: solid 2px #DFDFDF;
}

.fast-customer-info-pid-disabled 
{
    background:#EFEFEF;
    color: #6F6F6F;
	border: solid 2px #dcdcdc;
}

/* td.SiteWrapper 
{
    background: url("/images/FastCheckout/site-wrapper-bg-fastcart.gif") repeat-y scroll 188px 0 #FFFFFF;
    width: 984px;
} */

.emptycart .step1-title {display:none;}
.emptycart .optionslist span {display:block;text-align:center;font-size:16px;font-weight:bold;margin-top:30px;}
.emptycart .optionslist a {display:block; width:200px; margin:0 auto;background:#ccc;text-align:center;padding:10px; color:#000;margin-top:10px;}
.emptycart .help {display:none;}





/* Freight icons */
.freighticon { width:110px; height:30px; display:inline-block; margin-top:5px; background:none;display:none;}

.upFastFreightSelector .optionbox-nooptions-selected, .upFastFreightSelector .optionbox-nooptions
{
position: relative;
background: transparent url("/images/FastCheckout/button-background-freight-off.png") 0 0 no-repeat;
height: 90px;
}

.upFastFreightSelector .optionbox-nooptions:hover
{
position: relative;
background: transparent url("/images/FastCheckout/button-background-freight-over.png") 0 0 no-repeat;
height: 90px;
}

.upFastFreightSelector .optionbox-nooptions-selected
{
position: relative;
background: transparent url("/images/FastCheckout/button-background-freight-on.png") 0 0 no-repeat;
height: 90px;
}

.freight-name
{
    position: absolute;
    width: 133px;
    text-align:center;
    top:22px;
    left:0;
    line-height:120%;
}

.freight-cost 
{
       background: none repeat scroll 0 0 #dddddd;
    display: block;
    left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 65px;
    width: 133px;
}

/* Egendefinierade */
.freight-1 {}
.freight-2 {}
.freight-3 {}
.freight-4 {}
.freight-5 {}
.freight-6 {}
.freight-7 {}
.freight-8 {}
.freight-9 {}
.freight-10 {}

.freightoptionbox-item5, .freightoptionbox-item10, .freightoptionbox-item15, .freightoptionbox-item20
{
	margin-right: 0px; 
}

/* Payment icons */
.paymenticon { width:110px; height:30px; display:inline-block; margin-top:5px; background-repeat:no-repeat; background-position:50% 50%;}
.payment-un { background-image:url("/images/FastCheckout/payment/payment-icon-more.png"); } /* Fler alternativ */
.payment-1 { background-image:url("/images/FastCheckout/payment/logo-postforskott.png"); } /* PostförskottSE */
.payment-1-NO { background-image:url("/images/FastCheckout/payment/logo-postforskott-no.png"); } /* Postförskott Norge */
.payment-2 { background-image:url("/images/FastCheckout/payment/payment-icon-faktura.png"); } /* Egen Faktura SE */
.payment-3 { background-image:url("/images/FastCheckout/payment/payment-icon-kontant.png"); } /* Kontant vid avhämtning */
.payment-4 { background-image:url("/images/FastCheckout/payment/logo-kortbetalning.png"); } /* Betalkort */
.payment-5 { background-image:url("/images/FastCheckout/payment/payment-icon-bgpg.png"); } /* Bank/Postgiro */
.payment-6 { background-image:url("/images/FastCheckout/payment/payment-icon-paybybill.png"); } /* Paybybill*/
.payment-8 { background-image:url("/images/FastCheckout/payment/payment-icon-egenbetalmetod.png"); } /* Egen betalningsmetod 1 */
.payment-9 { background-image:url("/images/FastCheckout/payment/payment-icon-egenbetalmetod.png"); } /* Egen betalningsmetod 2 */
.payment-10 { background-image:url("/images/FastCheckout/payment/payment-icon-egenbetalmetod.png"); } /* Egen betalningsmetod 3 */
.payment-11 { background-image:url("/images/FastCheckout/payment/payment-icon-egenbetalmetod.png"); } /* Egen betalningsmetod 4 */
.payment-12 { background-image:url("/images/FastCheckout/payment/payment-icon-egenbetalmetod.png"); } /* Egen betalningsmetod 5 */
.payment-15 { background-image:url("/images/FastCheckout/payment/payment-icon-direktbetalning.png"); } /* Direktbetalning (default)*/
.payment-16 { background-image:url("/images/FastCheckout/payment/payment-icon-handelsbankennetpay.png"); } /* Handelsbanken NetPay  */
.payment-17 { background-image:url("/images/FastCheckout/payment/payment-icon-handelsbankenfaktura.png"); } /* Faktura Handelsbanken */
.payment-13 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 0 no-repeat; } /* FakturaKredSE */
.payment-14 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -30px no-repeat; } /* Delbetalning */
.payment-19 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -60px no-repeat; } /* FakturaKredFI */
.payment-20 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -240px no-repeat; } /* FakturaKredDK */
.payment-21 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -120px no-repeat; } /* FakturaKreditorNO */
.payment-22 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -90px no-repeat; } /* DelbetalningKredFI */
.payment-23 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -270px no-repeat; } /* DelbetalningKredDK */
.payment-24 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -150px no-repeat; } /* DelbetalningKredNO */
.payment-31 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -330px no-repeat; } /* FakturaKredDE */
.payment-32 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -300px no-repeat; } /* DelbetalningDE */
.payment-33 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -180px no-repeat; } /* FakturaKredNL */
.payment-34 { background: transparent url("/images/FastCheckout/payment/payment-icon-klarna.png") 0 -210px no-repeat; } /* DelbetalningNL */
.payment-25 { background-image:url("/images/FastCheckout/payment/payment-icon-payson.png"); } /* Payson - paysonloggan */
.payment-26 { background-image:url("/images/FastCheckout/payment/payment-icon-intrum.png"); } /* FakturaIntrum - intrum justitia */
.payment-28 { background-image:url("/images/FastCheckout/payment/payment-icon-gemoneybank.png"); } /* GEMoneyBank - logga*/
.payment-29 { background-image:url("/images/FastCheckout/payment/logo-kortbetalning.png"); } /* Postenbetalväxel */
.payment-30 { background-image:url("/images/FastCheckout/payment/payment-icon-paypal.png"); } /* PayPal - bara logga */
.payment-35 { background-image:url("/images/FastCheckout/payment/payment-icon-payson.png"); } /* Payson Faktura */

/* Flag icons */
.flagicon { 
    height: 24px;
    margin: 9px auto 5px;
    width: 24px;
}
.flag-ad { background-image:url(/SystemImages/flags/ad.png); } /* andorra */
.flag-ae { background-image:url(/SystemImages/flags/ae.png); } /* united arab emirates */
.flag-af { background-image:url(/SystemImages/flags/af.png); } /* afghanistan */
.flag-ag { background-image:url(/SystemImages/flags/ag.png); } /* antigua and barbuda */
.flag-ai { background-image:url(/SystemImages/flags/ai.png); } /* anguilla */
.flag-al { background-image:url(/SystemImages/flags/al.png); } /* albania */
.flag-am { background-image:url(/SystemImages/flags/am.png); } /* armenia */
.flag-an { background-image:url(/SystemImages/flags/an.png); }
.flag-ao { background-image:url(/SystemImages/flags/ao.png); } /* angola */
.flag-aq { background-image:url(/SystemImages/flags/aq.png); } /* antarctica */
.flag-ar { background-image:url(/SystemImages/flags/ar.png); } /* argentina */
.flag-as { background-image:url(/SystemImages/flags/as.png); } /* american samoa */
.flag-at { background-image:url(/SystemImages/flags/at.png); } /* austria */
.flag-au { background-image:url(/SystemImages/flags/au.png); } /* australia */
.flag-aw { background-image:url(/SystemImages/flags/aw.png); } /* aruba */
.flag-ax { background-image:url(/SystemImages/flags/ax.png); } /* åland islands */
.flag-az { background-image:url(/SystemImages/flags/az.png); } /* azerbaijan */
.flag-ba { background-image:url(/SystemImages/flags/ba.png); } /* bosnia and herzegovina */
.flag-bb { background-image:url(/SystemImages/flags/bb.png); } /* barbados */
.flag-bd { background-image:url(/SystemImages/flags/bd.png); } /* bangladesh */
.flag-be { background-image:url(/SystemImages/flags/be.png); } /* belgium */
.flag-bf { background-image:url(/SystemImages/flags/bf.png); } /* burkina faso */
.flag-bg { background-image:url(/SystemImages/flags/bg.png); } /* bulgaria */
.flag-bh { background-image:url(/SystemImages/flags/bh.png); } /* bahrain */
.flag-bi { background-image:url(/SystemImages/flags/bi.png); } /* burundi */
.flag-bj { background-image:url(/SystemImages/flags/bj.png); } /* benin */
.flag-bl { background-image:url(/SystemImages/flags/bl.png); } /* saint barthélemy */
.flag-bm { background-image:url(/SystemImages/flags/bm.png); } /* bermuda */
.flag-bn { background-image:url(/SystemImages/flags/bn.png); } /* brunei darussalam */
.flag-bo { background-image:url(/SystemImages/flags/bo.png); } /* bolivia, plurinational state of */
.flag-bq { background-image:url(/SystemImages/flags/bq.png); } /* bonaire, saint eustatius and saba */
.flag-br { background-image:url(/SystemImages/flags/br.png); } /* brazil */
.flag-bs { background-image:url(/SystemImages/flags/bs.png); } /* bahamas */
.flag-bt { background-image:url(/SystemImages/flags/bt.png); } /* bhutan */
.flag-bw { background-image:url(/SystemImages/flags/bw.png); } /* botswana */
.flag-bv { background-image:url(/SystemImages/flags/bv.png); } /* bouvet island */
.flag-by { background-image:url(/SystemImages/flags/by.png); } /* belarus */
.flag-bz { background-image:url(/SystemImages/flags/bz.png); } /* belize */
.flag-ca { background-image:url(/SystemImages/flags/ca.png); } /* canada */
.flag-cc { background-image:url(/SystemImages/flags/cc.png); } /* cocos (keeling) islands */
.flag-cd { background-image:url(/SystemImages/flags/cd.png); } /* congo, the democratic republic of the */
.flag-cf { background-image:url(/SystemImages/flags/cf.png); } /* central african republic */
.flag-cg { background-image:url(/SystemImages/flags/cg.png); } /* congo */
.flag-ch { background-image:url(/SystemImages/flags/ch.png); } /* switzerland */
.flag-ci { background-image:url(/SystemImages/flags/ci.png); } /* côte d'ivoire */
.flag-ck { background-image:url(/SystemImages/flags/ck.png); } /* cook islands */
.flag-cl { background-image:url(/SystemImages/flags/cl.png); } /* chile */
.flag-cm { background-image:url(/SystemImages/flags/cm.png); } /* cameroon */
.flag-cn { background-image:url(/SystemImages/flags/cn.png); } /* china */
.flag-co { background-image:url(/SystemImages/flags/co.png); } /* colombia */
.flag-cr { background-image:url(/SystemImages/flags/cr.png); } /* costa rica */
.flag-cs { background-image:url(/SystemImages/flags/cs.png); }
.flag-cu { background-image:url(/SystemImages/flags/cu.png); } /* cuba */
.flag-cv { background-image:url(/SystemImages/flags/cv.png); } /* cape verde */
.flag-cw { background-image:url(/SystemImages/flags/cw.png); } /* curaçao */
.flag-cx { background-image:url(/SystemImages/flags/cx.png); } /* christmas island */
.flag-cy { background-image:url(/SystemImages/flags/cy.png); } /* cyprus */
.flag-cz { background-image:url(/SystemImages/flags/cz.png); } /* czech republic */
.flag-de { background-image:url(/SystemImages/flags/de.png); } /* germany */
.flag-dj { background-image:url(/SystemImages/flags/dj.png); } /* djibouti */
.flag-dk { background-image:url(/SystemImages/flags/dk.png); } /* denmark */
.flag-dm { background-image:url(/SystemImages/flags/dm.png); } /* dominica */
.flag-do { background-image:url(/SystemImages/flags/do.png); } /* dominican republic */
.flag-dz { background-image:url(/SystemImages/flags/dz.png); } /* algeria */
.flag-ec { background-image:url(/SystemImages/flags/ec.png); } /* ecuador */
.flag-ee { background-image:url(/SystemImages/flags/ee.png); } /* estonia */
.flag-eg { background-image:url(/SystemImages/flags/eg.png); } /* egypt */
.flag-eh { background-image:url(/SystemImages/flags/eh.png); } /* western sahara */
.flag-en { background-image:url(/SystemImages/flags/en.png); }
.flag-er { background-image:url(/SystemImages/flags/er.png); } /* eritrea */
.flag-es { background-image:url(/SystemImages/flags/es.png); } /* spain */
.flag-et { background-image:url(/SystemImages/flags/et.png); } /* ethiopia */
.flag-eu { background-image:url(/SystemImages/flags/eu.png); }
.flag-fa { background-image:url(/SystemImages/flags/fa.png); }
.flag-fi { background-image:url(/SystemImages/flags/fi.png); } /* finland */
.flag-fj { background-image:url(/SystemImages/flags/fj.png); } /* fiji */
.flag-fk { background-image:url(/SystemImages/flags/fk.png); } /* falkland islands (malvinas) */
.flag-fm { background-image:url(/SystemImages/flags/fm.png); } /* micronesia, federated states of */
.flag-fo { background-image:url(/SystemImages/flags/fo.png); } /* faroe islands */
.flag-fr { background-image:url(/SystemImages/flags/fr.png); } /* france */
.flag-ga { background-image:url(/SystemImages/flags/ga.png); } /* gabon */
.flag-gb { background-image:url(/SystemImages/flags/gb.png); } /* united kingdom */
.flag-gd { background-image:url(/SystemImages/flags/gd.png); } /* grenada */
.flag-ge { background-image:url(/SystemImages/flags/ge.png); } /* georgia */
.flag-gf { background-image:url(/SystemImages/flags/gf.png); } /* french guiana */
.flag-gg { background-image:url(/SystemImages/flags/gg.png); } /* guernsey */
.flag-gh { background-image:url(/SystemImages/flags/gh.png); } /* ghana */
.flag-gi { background-image:url(/SystemImages/flags/gi.png); } /* gibraltar */
.flag-gl { background-image:url(/SystemImages/flags/gl.png); } /* greenland */
.flag-gm { background-image:url(/SystemImages/flags/gm.png); } /* gambia */
.flag-gn { background-image:url(/SystemImages/flags/gn.png); } /* guinea */
.flag-gp { background-image:url(/SystemImages/flags/gp.png); } /* guadeloupe */
.flag-gq { background-image:url(/SystemImages/flags/gq.png); } /* equatorial guinea */
.flag-gr { background-image:url(/SystemImages/flags/gr.png); } /* greece */
.flag-gs { background-image:url(/SystemImages/flags/gs.png); } /* south georgia and the south sandwich islands */
.flag-gt { background-image:url(/SystemImages/flags/gt.png); } /* guatemala */
.flag-gu { background-image:url(/SystemImages/flags/gu.png); } /* guam */
.flag-gw { background-image:url(/SystemImages/flags/gw.png); } /* guinea-bissau */
.flag-gy { background-image:url(/SystemImages/flags/gy.png); } /* guyana */
.flag-hk { background-image:url(/SystemImages/flags/hk.png); } /* hong kong */
.flag-hm { background-image:url(/SystemImages/flags/hm.png); } /* heard island and mcdonald islands */
.flag-hn { background-image:url(/SystemImages/flags/hn.png); } /* honduras */
.flag-hr { background-image:url(/SystemImages/flags/hr.png); } /* croatia */
.flag-ht { background-image:url(/SystemImages/flags/ht.png); } /* haiti */
.flag-hu { background-image:url(/SystemImages/flags/hu.png); } /* hungary */
.flag-ia { background-image:url(/SystemImages/flags/ia.png); }
.flag-id { background-image:url(/SystemImages/flags/id.png); } /* indonesia */
.flag-ie { background-image:url(/SystemImages/flags/ie.png); } /* ireland */
.flag-ih { background-image:url(/SystemImages/flags/ih.png); }
.flag-il { background-image:url(/SystemImages/flags/il.png); } /* israel */
.flag-im { background-image:url(/SystemImages/flags/im.png); } /* isle of man */
.flag-in { background-image:url(/SystemImages/flags/in.png); } /* india */
.flag-io { background-image:url(/SystemImages/flags/io.png); } /* british indian ocean territory */
.flag-iq { background-image:url(/SystemImages/flags/iq.png); } /* iraq */
.flag-ir { background-image:url(/SystemImages/flags/ir.png); } /* iran, islamic republic of */
.flag-is { background-image:url(/SystemImages/flags/is.png); } /* iceland */
.flag-it { background-image:url(/SystemImages/flags/it.png); } /* italy */
.flag-je { background-image:url(/SystemImages/flags/je.png); } /* jersey */
.flag-jm { background-image:url(/SystemImages/flags/jm.png); } /* jamaica */
.flag-jo { background-image:url(/SystemImages/flags/jo.png); } /* jordan */
.flag-jp { background-image:url(/SystemImages/flags/jp.png); } /* japan */
.flag-ke { background-image:url(/SystemImages/flags/ke.png); } /* kenya */
.flag-kg { background-image:url(/SystemImages/flags/kg.png); } /* kyrgyzstan */
.flag-kh { background-image:url(/SystemImages/flags/kh.png); } /* cambodia */
.flag-ki { background-image:url(/SystemImages/flags/ki.png); } /* kiribati */
.flag-km { background-image:url(/SystemImages/flags/km.png); } /* comoros */
.flag-kn { background-image:url(/SystemImages/flags/kn.png); } /* saint kitts and nevis */
.flag-ko { background-image:url(/SystemImages/flags/ko.png); }
.flag-kp { background-image:url(/SystemImages/flags/kp.png); } /* korea, democratic people's republic of */
.flag-kr { background-image:url(/SystemImages/flags/kr.png); } /* korea, republic of */
.flag-kw { background-image:url(/SystemImages/flags/kw.png); } /* kuwait */
.flag-ky { background-image:url(/SystemImages/flags/ky.png); } /* cayman islands */
.flag-kz { background-image:url(/SystemImages/flags/kz.png); } /* kazakhstan */
.flag-la { background-image:url(/SystemImages/flags/la.png); } /* lao people's democratic republic */
.flag-lb { background-image:url(/SystemImages/flags/lb.png); } /* lebanon */
.flag-lc { background-image:url(/SystemImages/flags/lc.png); } /* saint lucia */
.flag-li { background-image:url(/SystemImages/flags/li.png); } /* liechtenstein */
.flag-lk { background-image:url(/SystemImages/flags/lk.png); } /* sri lanka */
.flag-lr { background-image:url(/SystemImages/flags/lr.png); } /* liberia */
.flag-ls { background-image:url(/SystemImages/flags/ls.png); } /* lesotho */
.flag-lt { background-image:url(/SystemImages/flags/lt.png); } /* lithuania */
.flag-lu { background-image:url(/SystemImages/flags/lu.png); } /* luxembourg */
.flag-lv { background-image:url(/SystemImages/flags/lv.png); } /* latvia */
.flag-ly { background-image:url(/SystemImages/flags/ly.png); } /* libyan arab jamahiriya */
.flag-ma { background-image:url(/SystemImages/flags/ma.png); } /* morocco */
.flag-mc { background-image:url(/SystemImages/flags/mc.png); } /* monaco */
.flag-md { background-image:url(/SystemImages/flags/md.png); } /* moldova, republic of */
.flag-me { background-image:url(/SystemImages/flags/me.png); } /* montenegro */
.flag-mf { background-image:url(/SystemImages/flags/mf.png); } /* saint martin (french part) */
.flag-mg { background-image:url(/SystemImages/flags/mg.png); } /* madagascar */
.flag-mh { background-image:url(/SystemImages/flags/mh.png); } /* marshall islands */
.flag-mk { background-image:url(/SystemImages/flags/mk.png); } /* macedonia, the former yugoslav republic of */
.flag-ml { background-image:url(/SystemImages/flags/ml.png); } /* mali */
.flag-mm { background-image:url(/SystemImages/flags/mm.png); } /* myanmar */
.flag-mn { background-image:url(/SystemImages/flags/mn.png); } /* mongolia */
.flag-mo { background-image:url(/SystemImages/flags/mo.png); } /* macao */
.flag-mp { background-image:url(/SystemImages/flags/mp.png); } /* northern mariana islands */
.flag-mq { background-image:url(/SystemImages/flags/mq.png); } /* martinique */
.flag-mr { background-image:url(/SystemImages/flags/mr.png); } /* mauritania */
.flag-ms { background-image:url(/SystemImages/flags/ms.png); } /* montserrat */
.flag-mt { background-image:url(/SystemImages/flags/mt.png); } /* malta */
.flag-mu { background-image:url(/SystemImages/flags/mu.png); } /* mauritius */
.flag-mw { background-image:url(/SystemImages/flags/mw.png); } /* malawi */
.flag-mv { background-image:url(/SystemImages/flags/mv.png); } /* maldives */
.flag-mx { background-image:url(/SystemImages/flags/mx.png); } /* mexico */
.flag-my { background-image:url(/SystemImages/flags/my.png); } /* malaysia */
.flag-mz { background-image:url(/SystemImages/flags/mz.png); } /* mozambique */
.flag-na { background-image:url(/SystemImages/flags/na.png); } /* namibia */
.flag-nc { background-image:url(/SystemImages/flags/nc.png); } /* new caledonia */
.flag-ne { background-image:url(/SystemImages/flags/ne.png); } /* niger */
.flag-nf { background-image:url(/SystemImages/flags/nf.png); } /* norfolk island */
.flag-ng { background-image:url(/SystemImages/flags/ng.png); } /* nigeria */
.flag-ni { background-image:url(/SystemImages/flags/ni.png); } /* nicaragua */
.flag-nl { background-image:url(/SystemImages/flags/nl.png); } /* netherlands */
.flag-no { background-image:url(/SystemImages/flags/no.png); } /* norway */
.flag-np { background-image:url(/SystemImages/flags/np.png); } /* nepal */
.flag-nr { background-image:url(/SystemImages/flags/nr.png); } /* nauru */
.flag-nu { background-image:url(/SystemImages/flags/nu.png); } /* niue */
.flag-nz { background-image:url(/SystemImages/flags/nz.png); } /* new zealand */
.flag-oa { background-image:url(/SystemImages/flags/oa.png); }
.flag-oe { background-image:url(/SystemImages/flags/oe.png); }
.flag-ol { background-image:url(/SystemImages/flags/ol.png); }
.flag-om { background-image:url(/SystemImages/flags/om.png); } /* oman */
.flag-op { background-image:url(/SystemImages/flags/op.png); }
.flag-pa { background-image:url(/SystemImages/flags/pa.png); } /* panama */
.flag-pe { background-image:url(/SystemImages/flags/pe.png); } /* peru */
.flag-pf { background-image:url(/SystemImages/flags/pf.png); } /* french polynesia */
.flag-pg { background-image:url(/SystemImages/flags/pg.png); } /* papua new guinea */
.flag-ph { background-image:url(/SystemImages/flags/ph.png); } /* philippines */
.flag-pk { background-image:url(/SystemImages/flags/pk.png); } /* pakistan */
.flag-pl { background-image:url(/SystemImages/flags/pl.png); } /* poland */
.flag-pm { background-image:url(/SystemImages/flags/pm.png); } /* saint pierre and miquelon */
.flag-pn { background-image:url(/SystemImages/flags/pn.png); } /* pitcairn */
.flag-pr { background-image:url(/SystemImages/flags/pr.png); } /* puerto rico */
.flag-ps { background-image:url(/SystemImages/flags/ps.png); } /* palestinian territory, occupied */
.flag-pt { background-image:url(/SystemImages/flags/pt.png); } /* portugal */
.flag-pw { background-image:url(/SystemImages/flags/pw.png); } /* palau */
.flag-py { background-image:url(/SystemImages/flags/py.png); } /* paraguay */
.flag-qa { background-image:url(/SystemImages/flags/qa.png); } /* qatar */
.flag-re { background-image:url(/SystemImages/flags/re.png); } /* réunion */
.flag-ro { background-image:url(/SystemImages/flags/ro.png); } /* romania */
.flag-rs { background-image:url(/SystemImages/flags/rs.png); } /* serbia */
.flag-ru { background-image:url(/SystemImages/flags/ru.png); } /* russian federation */
.flag-rw { background-image:url(/SystemImages/flags/rw.png); } /* rwanda */
.flag-sa { background-image:url(/SystemImages/flags/sa.png); } /* saudi arabia */
.flag-sb { background-image:url(/SystemImages/flags/sb.png); } /* solomon islands */
.flag-sc { background-image:url(/SystemImages/flags/sc.png); } /* seychelles */
.flag-sd { background-image:url(/SystemImages/flags/sd.png); } /* sudan */
.flag-se { background-image:url(/SystemImages/flags/se.png); } /* sweden */
.flag-sg { background-image:url(/SystemImages/flags/sg.png); } /* singapore */
.flag-sh { background-image:url(/SystemImages/flags/sh.png); } /* saint helena, ascension and tristan da cunha */
.flag-si { background-image:url(/SystemImages/flags/si.png); } /* slovenia */
.flag-sj { background-image:url(/SystemImages/flags/sj.png); } /* svalbard and jan mayen */
.flag-sk { background-image:url(/SystemImages/flags/sk.png); } /* slovakia */
.flag-sl { background-image:url(/SystemImages/flags/sl.png); } /* sierra leone */
.flag-sm { background-image:url(/SystemImages/flags/sm.png); } /* san marino */
.flag-sn { background-image:url(/SystemImages/flags/sn.png); } /* senegal */
.flag-so { background-image:url(/SystemImages/flags/so.png); } /* somalia */
.flag-sr { background-image:url(/SystemImages/flags/sr.png); } /* suriname */
.flag-st { background-image:url(/SystemImages/flags/st.png); } /* sao tome and principe */
.flag-sv { background-image:url(/SystemImages/flags/sv.png); } /* el salvador */
.flag-sx { background-image:url(/SystemImages/flags/sx.png); } /* sint maarten (dutch part) */
.flag-sy { background-image:url(/SystemImages/flags/sy.png); } /* syrian arab republic */
.flag-sz { background-image:url(/SystemImages/flags/sz.png); } /* swaziland */
.flag-ta { background-image:url(/SystemImages/flags/ta.png); }
.flag-tc { background-image:url(/SystemImages/flags/tc.png); } /* turks and caicos islands */
.flag-td { background-image:url(/SystemImages/flags/td.png); } /* chad */
.flag-tf { background-image:url(/SystemImages/flags/tf.png); } /* french southern territories */
.flag-tg { background-image:url(/SystemImages/flags/tg.png); } /* togo */
.flag-th { background-image:url(/SystemImages/flags/th.png); } /* thailand */
.flag-tj { background-image:url(/SystemImages/flags/tj.png); } /* tajikistan */
.flag-tk { background-image:url(/SystemImages/flags/tk.png); } /* tokelau */
.flag-tl { background-image:url(/SystemImages/flags/tl.png); } /* timor-leste */
.flag-tm { background-image:url(/SystemImages/flags/tm.png); } /* turkmenistan */
.flag-tn { background-image:url(/SystemImages/flags/tn.png); } /* tunisia */
.flag-to { background-image:url(/SystemImages/flags/to.png); } /* tonga */
.flag-tr { background-image:url(/SystemImages/flags/tr.png); } /* turkey */
.flag-tt { background-image:url(/SystemImages/flags/tt.png); } /* trinidad and tobago */
.flag-tw { background-image:url(/SystemImages/flags/tw.png); } /* taiwan, province of china */
.flag-tv { background-image:url(/SystemImages/flags/tv.png); } /* tuvalu */
.flag-tx { background-image:url(/SystemImages/flags/tx.png); }
.flag-tz { background-image:url(/SystemImages/flags/tz.png); } /* tanzania, united republic of */
.flag-ua { background-image:url(/SystemImages/flags/ua.png); } /* ukraine */
.flag-ug { background-image:url(/SystemImages/flags/ug.png); } /* uganda */
.flag-uk { background-image:url(/SystemImages/flags/uk.png); }
.flag-um { background-image:url(/SystemImages/flags/um.png); } /* united states minor outlying islands */
.flag-un { background-image:url(/SystemImages/flags/un.png); }
.flag-un { background-image:url(/SystemImages/flags/un.png); }
.flag-un { background-image:url(/SystemImages/flags/un.png); }
.flag-us { background-image:url(/SystemImages/flags/us.png); } /* united states */
.flag-uy { background-image:url(/SystemImages/flags/uy.png); } /* uruguay */
.flag-uz { background-image:url(/SystemImages/flags/uz.png); } /* uzbekistan */
.flag-wa { background-image:url(/SystemImages/flags/wa.png); }
.flag-va { background-image:url(/SystemImages/flags/va.png); } /* holy see (vatican city state) */
.flag-vc { background-image:url(/SystemImages/flags/vc.png); } /* saint vincent and the grenadines */
.flag-ve { background-image:url(/SystemImages/flags/ve.png); } /* venezuela, bolivarian republic of */
.flag-wf { background-image:url(/SystemImages/flags/wf.png); } /* wallis and futuna */
.flag-vg { background-image:url(/SystemImages/flags/vg.png); } /* virgin islands, british */
.flag-wh { background-image:url(/SystemImages/flags/wh.png); }
.flag-vi { background-image:url(/SystemImages/flags/vi.png); } /* virgin islands, u.s. */
.flag-vn { background-image:url(/SystemImages/flags/vn.png); } /* viet nam */
.flag-ws { background-image:url(/SystemImages/flags/ws.png); } /* samoa */
.flag-wt { background-image:url(/SystemImages/flags/wt.png); }
.flag-vu { background-image:url(/SystemImages/flags/vu.png); } /* vanuatu */
.flag-ye { background-image:url(/SystemImages/flags/ye.png); } /* yemen */
.flag-yt { background-image:url(/SystemImages/flags/yt.png); } /* mayotte */
.flag-za { background-image:url(/SystemImages/flags/za.png); } /* south africa */
.flag-zm { background-image:url(/SystemImages/flags/zm.png); } /* zambia */
.flag-zw { background-image:url(/SystemImages/flags/zw.png); } /* zimbabwe */

.upFastCountrySelect .boxinner 
{
    padding-bottom:10px;
}

.upFastCountrySelect .optionbox-item5
{
    margin-bottom:0px;
}

.othercountries
{
	list-style-type: none;
}

.othercountries li
{
	
	width: 200px;
	float: left;
	overflow:hidden;
	margin-right:10px;
}

.othercountries li a
{
    display: block;
    background-repeat: no-repeat;
	padding-left:30px;
	height: 23px;
	line-height:23px;
	margin-bottom:5px;
}

.othercountries li a:hover
{
    background-color:#dde7bf;
}

.country-options-inner 
{
    padding-bottom:10px;
}

.country-options 
{
    margin-bottom:0px;
}

.country-options-inner p 
{
    display: none;
}

.page-orderdetailsconfirmed #left-area {
    display: none;
}

/* Bekräftelsesidan */
.fastcartconfirmationpage div.PlacedOrderDetailsHeader table {
    width: 100%;
}

.fastcartconfirmationpage div.PlacedOrderDetailsHeader {
    background: none;
    margin-bottom: 10px;
}

.fastcartconfirmationpage .PlacedOrderDetailsHeaderCell1,  .fastcartconfirmationpage .PlacedOrderDetailsHeaderCell2,  .fastcartconfirmationpage .PlacedOrderDetailsHeaderCell1 h1 {
    background: #333;
    color: #fff;
    font-size: 14px;
    margin: 0;
}

span.PlacedOrderDetailsOrderNrLabel, span.PlacedOrderDetailsOrderDateLabel {
    font-weight: bold;
    padding: 0 5px 0 0;
}

.fastcartconfirmationpage .PlacedOrderDetailsHeaderCell1 {
    width:50%;
    padding: 10px;
}

.fastcartconfirmationpage .PlacedOrderDetailsHeaderCell2 {
    width:25%;
    padding: 10px;
}

.fastcartconfirmationpage {
    background-color: #efefef;
	background-image: url(/images/FastCheckout/box-gradient-background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	width: 918px;
	margin: 0 10px;
	padding: 10px;
    border: 1px solid #dfdfdf;
	float: left;
}

.fastcartconfirmationpage div.PlacedOrderDetailsHeader table.CartContents {
    width: 98%;
}

.fastcartconfirmationpage div.PlacedOrderDetailsBody {
    border: none;
    color: #333;
}

div.PlacedOrderDetailsCart td {
    padding: 3px 5px;
}

div.PlacedOrderDetailsCart td.LastCol {
    text-align: right;
}

.fastcartconfirmationpage td.CartTotalArticleSum {
    text-align: left;
}

.fastcartconfirmationpage table.CartContents td.FirstCol {
    padding: 3px 5px;
    text-align: left;
}

.fastcartconfirmationpage td.CartArticleSpacer {
    padding: 0 0 20px 0;
}

.fastcartconfirmationpage td.CartContentsHeader {
    font-size: 1.1em;
    font-weight: bold;
    background: #dfdfdf;
}

.fastcartconfirmationpage td.CartArticleSums {
    font-size: 1.1em;
    padding: 10px 5px 20px 5px;
    text-align: right;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

.fastcartconfirmationpage td.CartTotalSumValue {
    font-weight: bold;
}

.fastcartconfirmationpage .PlacedOrderDetailsFooter, .fastcartconfirmationpage div.PlacedOrderDetailsBody, .fastcartconfirmationpage div.PlacedOrderDetailsFooter, .fastcartconfirmationpage td.CartContentsHeader {
    border:none;
}

 .fastcartconfirmationpage table.CartContents,  .fastcartconfirmationpage table.PlacedOrderDetailsCartContents,  .fastcartconfirmationpage div.PlacedOrderDetailsCart,  .fastcartconfirmationpage td.OrderDetailsPDFLinkContainer,  .fastcartconfirmationpage td.CartTotalSumText
{
    background:none;
}

.fastcartconfirmationpage td.PlacedOrderDetailsShipping {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dfdfdf;
}

.fastcartconfirmationpage td.DiscountFeeText,
.fastcartconfirmationpage td.ShippingFeeText,
.fastcartconfirmationpage td.PaymentFeeText,
.fastcartconfirmationpage td.CartTotalSumText {
    font-weight: bold;
}

.fastcartconfirmationpage td.FeePlusVatText,
.fastcartconfirmationpage td.FeePlusVatValue {
    color: #666;
}

.fastcartconfirmationpage .iteminfo-comment {
    font-weight: bold;
}

.fastcartconfirmationpage .iteminfo-comment span {
    font-weight: normal;
    display: block;
    margin-left: 0;
}

/* Loading message */

.divModalUpdateContainer 
{
    background:#000;
    width: 400px;
    margin-left:340px;
    color:#fff;
    padding:30px;
    text-align:center;
    opacity: 0.7;
}

.divModalUpdateContainerLogin 
{
    background:#000;
    width: 400px;
    color:#fff;
    padding:30px;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-230px;
    margin-top: -10px;
    opacity: 0.95;
}


.divModalUpdateContainerBody
{
    color:#fff;
    font-weight:bold;
    font-size:19px;
}



/* TOOLTIP */
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #9b9b9b;
	background-color: #f6fae8;
	padding: 10px;
	opacity: 1;
	width:300px;
	margin-left:-150px;
	color:#333;
	line-height:130%;
}
#tooltip h3, #tooltip div { margin: 0; }



.MandatoryInformation
{
	clear: both;	
}

.AlternativeDeliveryAddress
{
	padding: 10px 0px;
}

.FastCheckoutHeaderCssClass
{
	width: 940px;
    margin: 0 10px;
}

.fast-customer-info-pid-disabled
{
	background-color: #f7f7f7;
}

.divSMSNotificationOption 
{
    padding-top:15px;
}

.sms-notification-text-div 
{
    clear:both;
    width:100%;
    padding:5px 0px 10px 0px;
}

#page-without-masterpage {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	color: #333;
	line-height: 1.4;
    background:#fff;
}

#page-without-masterpage a
{
    color:blue;
}

a.fast-order-confirmation-link-to-terms 
{
    color:#990000;
    text-decoration:underline;
}

/* Felmeddelande - Betalmetoder */

.FastErrorSummaryPaymentErrorSubmittedAddressHeaderCssClass, .FastErrorSummaryPaymentErrorLookedUpAddressHeaderCssClass
{
    font-weight:bold;
    display:block;
}

.FastErrorSummaryPaymentErrorCssClass 
{
    clear:both;
    padding:10px;
}

.FastErrorSummaryPaymentErrorCssClass span 
{
    display:block;
    margin:0;
    clear:both;
}

.FastErrorSummaryPaymentErrorCssClass a 
{
    margin-top:3px;
	display:block;
	width:80px;
	height:24px;
	cursor:pointer;
	background:transparent url(/images/FastCheckout/button-loggain-background.png) 0 0 no-repeat;
	color:#333;
	text-shadow:#fff 1px 1px;
	font-weight:bold;
	text-align:center;
	font-size:12px;
	line-height:24px;
	text-transform:uppercase;
}

.FastErrorSummaryPaymentErrorCssClass a:hover {
    background-position: 0 -24px;
    text-decoration: none;
}

#ctl00_cart_fastcheckout_FastCustomerInfo_pCustomerWantsNewsletter {
    height: 20px;
}

.upFastPaymentSelect .box
{
	position:relative;
}

.arrow
{
    background:url(/images/FastCheckout/arrow.png) #DDDDDD;
    bottom: -8px;
    height: 8px;
    position: absolute;
    right: 12px;
    width: 15px;
}

a:hover .arrow
{
	background-color:#DDE7BF;
}

.byt-kundtyp
{
	position:relative;
}

/* UNSORTED */
.FastCheckout_FastAdressConfirmationDialog-Wrapper
{
    width:720px;
    margin:0px;
    padding:0px;
    background-color:#333;
    color:#FFF;
}

.FastCheckout_FastAdressConfirmationDialog-Wrapper h1{
    text-transform: uppercase;
}
.FastCheckout_FastAdressConfirmationDialog-mainHeadline
{
    padding:20px;
    font-size:20px;
}

.FastCheckout_FastAdressConfirmationDialog-Wrapper ul
{
    list-style-type: none;
    padding:0px;
    margin:0px;
    width: 700px;
    margin-left: 20px;
}



.FastCheckout_FastAdressConfirmationDialog-Wrapper li
{
    display:inline-block;
    width:49%;
    padding:0px;
}


.FastCheckout_FastAdressConfirmationDialog-Wrapper li h1
{
    font-weight: bold;
    padding-bottom:10px;
}

.FastCheckout_FastAdressConfirmationDialog-Wrapper li table
{
}

.FastCheckout_FastAdressConfirmationDialog-Wrapper li tr > td:first-child { 
    padding-right:20px;
    font-weight:bold;
}



.FastCheckout_FastAdressConfirmationDialog-Wrapper li table tr
{
}


.FastCheckout_FastAdressConfirmationDialog-Wrapper li table td span
{
    padding-top:5px;
    font-size:95%;
}

.FastCheckout_FastAdressConfirmationDialog-buttonBar
{
    height:30px;
    padding:20px;
    padding-top:30px;
}

.FastCheckout_FastAdressConfirmationDialog-button
{
    color:#FFF;
    min-width:150px;
    height:100%;
    text-align:center;
    text-decoration:none;
    font-weight:600;
    text-transform:uppercase;
    cursor:pointer;
}

.FastCheckout_FastAdressConfirmationDialog-button:hover
{
    text-decoration:none;
    font-weight:600;
}

.FastCheckout_FastAdressConfirmationDialog-button span
{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    vertical-align:middle;
}

.FastCheckout_FastAdressConfirmationDialog-buttonBar-vCenterer
{
    height:100%;
    width:0px !important;
    margin:0px !important;
    padding:0px !important;
}


.FastCheckout_FastAdressConfirmationDialog-okButton
{
    float:right;
    background-color: #A8D34E;
    background: transparent url(../images/FastCheckout/buttonGradients/btn-positive-bkg.png) 0 0 repeat-x;
    background-image: linear-gradient(bottom, rgb(95,148,30) 50%, rgb(190,219,84) 79%);
    background-image: -o-linear-gradient(bottom, rgb(95,148,30) 50%, rgb(190,219,84) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(95,148,30) 50%, rgb(190,219,84) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(95,148,30) 50%, rgb(190,219,84) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(95,148,30) 50%, rgb(190,219,84) 79%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.39, rgb(95,148,30)),
	    color-stop(0.79, rgb(190,219,84))
    );
}

.FastCheckout_FastAdressConfirmationDialog-okButton:hover
{
    background-color: #BDDB54;
    background: transparent url(../images/FastCheckout/buttonGradients/btn-positive-bkg.png) 0 0 repeat-x;
    background-image: linear-gradient(bottom, rgb(118,179,39) 50%, rgb(207,235,108) 79%);
    background-image: -o-linear-gradient(bottom, rgb(118,179,39) 50%, rgb(207,235,108) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(118,179,39) 50%, rgb(207,235,108) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(118,179,39) 50%, rgb(207,235,108) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(118,179,39) 50%, rgb(207,235,108) 79%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.39, rgb(118,179,39)),
	    color-stop(0.79, rgb(207,235,108))
    );
}

.FastCheckout_FastAdressConfirmationDialog-cancelButton
{
    float:left;
    background-color:#FC5026;
    background: transparent url(../images/FastCheckout/buttonGradients/btn-negative-bkg.png) 0 0 repeat-x;
    background-image: linear-gradient(bottom, rgb(204,0,0) 50%, rgb(255,63,15) 79%);
    background-image: -o-linear-gradient(bottom, rgb(204,0,0) 50%, rgb(255,63,15) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(204,0,0) 50%, rgb(255,63,15) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(204,0,0) 50%, rgb(255,63,15) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(204,0,0) 50%, rgb(255,63,15) 79%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.44, rgb(204,0,0)),
	    color-stop(0.79, rgb(255,63,15))
    );
}

.FastCheckout_FastAdressConfirmationDialog-cancelButton:hover
{
    background-color:#CC1414;
    background: transparent url(../images/FastCheckout/buttonGradients/btn-negative-bkg.png) 0 0 repeat-x;
    background-image: linear-gradient(bottom, rgb(204,20,20) 50%, rgb(252,80,38) 79%);
    background-image: -o-linear-gradient(bottom, rgb(204,20,20) 50%, rgb(252,80,38) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(204,20,20) 50%, rgb(252,80,38) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(204,20,20) 50%, rgb(252,80,38) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(204,20,20) 50%, rgb(252,80,38) 79%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.44, rgb(204,20,20)),
	    color-stop(0.79, rgb(252,80,38))
    );
}

/* MULTIPLE SHIPPING ADDRESS */
.fast-customer-info-leftcol span.change-multiple-address-button a {
    background-color: greenyellow;
}

div.div-multiple-addresses-selector-dialog .radio-button-list-table {
    width: 100%;
}
    
div.div-multiple-addresses-selector-dialog .selected-address {
    background-color: #d5f7d6;
}
    
    
div.div-multiple-addresses-selector-dialog .select-address-button {
    background-color: grey;
    color: white;
    text-align: center;
}

div.div-multiple-addresses-selector-dialog .select-address-button:hover 
{
    cursor: pointer;
}
    
div.div-multiple-addresses-selector-dialog .select-address-button.address-selected {
    background-color: #7da938;
}
    
div.div-multiple-addresses-selector-dialog .select-address-button.address-selected a {
    color: white;
    cursor: default;
    text-decoration: none;
}

div.div-multiple-addresses-selector-dialog div.div-hidden {
    display: none;
}

div.div-multiple-addresses-wrapper {
    max-height: 300px;
    overflow: auto;
}

.hiddenSelectedAddressIndex, .hiddenFieldForUpdate {
    display: none !important;
}

.discount-code-success, .discount-code-error {
    width: 306px;
    padding: 4px;
    bottom: -26px;
}

.discount-code-success span, .discount-code-error span {
    font-weight: bold;
    margin-left: 5px;
}

.discount-code-success {
    background-color: #96DA91;
}

.discount-code-error {
    background-color: #E2754A;
}

/* STORE LOCATIONS */
.store-selector-wrapper {
  margin: 0 2px;
}

.store-selector-header{
    text-transform: uppercase;
}

.choose-region, .choose-store{
    display: inline-block;
}

#store-container{
    padding-left: 4px;
}

.store-info > span{
    display: inline-block;
    padding-right: 2px;
    vertical-align: top;
    width: 24%;
}

.store-selector, .store-header, .store-info, .store-desc{
    padding-bottom: 10px;
}

.LocationName, .City {
    font-weight: bold;
}

.store-thank-you-text {
    display: block;
    margin-bottom: 4px;
}

.store-info-headers {
  display: none;
}

.store-info .store-info-headers{
  display: none;
}