/*

    Debug classes to make things ugly

*/

.form-group {
  background-color: #9ccadb;
}

.form-row {
  background-color: #b4ecfb;
}

$getcustomerinfo-input-background-color: yellow;
$form-button-background-color: red;
$form-button-border-color: blue;
$getcustomerinfo-button-border-color: red;
$membership-button-background-color:hotpink;
$membership-button-border-color: red;
$continue-shopping-button-background-color: orange;
$continue-shopping-button-border-color: red;
$form-button-checkout-background-color: green;
$form-button-checkout-border-color: yellow;
$altdeliveryaddress-toggle-button-background-color: darkmagenta;
$changecustomertype-button-background-color: indianred;

@mixin debug-mq($label){
  content: $label;
  padding: 10px;
  display: inline-block;
}

#right-area {
  background-color: #f6bda9;
}

#left-area {
  background-color: skyblue;
}


//
//  Small
@media #{$small-only} {
  #header {
    background-color: green !important;
  }
  .logo-body:after {
    @include debug-mq("small");
  }
}


//
//  Medium
@media #{$medium-only} {
  #header {
    background-color: yellow !important;
  }
  .logo-body:after {
    @include debug-mq("medium");
  }
}


//
//  Large
@media #{$large-only} {
  #header {
    background-color: turquoise !important;
  }
  .logo-body:after {
    @include debug-mq("large");
  }
}

//
//  X-Large
@media #{$xlarge-only} {
  #header {
    background-color: darkkhaki !important;
  }
  .logo-body:after {
    @include debug-mq("xlarge");
  }
}

//
//  XX-Large
@media #{$xxlarge-only} {
  #header {
    background-color: hotpink !important;
  }
  .logo-body:after {
    @include debug-mq("xxlarge");
  }
}



