/* Flag icons */
.flag-ad {
  background-image: url(/SystemImages/flags/ad.png);
}
/* andorra */
.flag-ae {
  background-image: url(/SystemImages/flags/ae.png);
}
/* united arab emirates */
.flag-af {
  background-image: url(/SystemImages/flags/af.png);
}
/* afghanistan */
.flag-ag {
  background-image: url(/SystemImages/flags/ag.png);
}
/* antigua and barbuda */
.flag-ai {
  background-image: url(/SystemImages/flags/ai.png);
}
/* anguilla */
.flag-al {
  background-image: url(/SystemImages/flags/al.png);
}
/* albania */
.flag-am {
  background-image: url(/SystemImages/flags/am.png);
}
/* armenia */
.flag-an {
  background-image: url(/SystemImages/flags/an.png);
}
.flag-ao {
  background-image: url(/SystemImages/flags/ao.png);
}
/* angola */
.flag-aq {
  background-image: url(/SystemImages/flags/aq.png);
}
/* antarctica */
.flag-ar {
  background-image: url(/SystemImages/flags/ar.png);
}
/* argentina */
.flag-as {
  background-image: url(/SystemImages/flags/as.png);
}
/* american samoa */
.flag-at {
  background-image: url(/SystemImages/flags/at.png);
}
/* austria */
.flag-au {
  background-image: url(/SystemImages/flags/au.png);
}
/* australia */
.flag-aw {
  background-image: url(/SystemImages/flags/aw.png);
}
/* aruba */
.flag-ax {
  background-image: url(/SystemImages/flags/ax.png);
}
/* åland islands */
.flag-az {
  background-image: url(/SystemImages/flags/az.png);
}
/* azerbaijan */
.flag-ba {
  background-image: url(/SystemImages/flags/ba.png);
}
/* bosnia and herzegovina */
.flag-bb {
  background-image: url(/SystemImages/flags/bb.png);
}
/* barbados */
.flag-bd {
  background-image: url(/SystemImages/flags/bd.png);
}
/* bangladesh */
.flag-be {
  background-image: url(/SystemImages/flags/be.png);
}
/* belgium */
.flag-bf {
  background-image: url(/SystemImages/flags/bf.png);
}
/* burkina faso */
.flag-bg {
  background-image: url(/SystemImages/flags/bg.png);
}
/* bulgaria */
.flag-bh {
  background-image: url(/SystemImages/flags/bh.png);
}
/* bahrain */
.flag-bi {
  background-image: url(/SystemImages/flags/bi.png);
}
/* burundi */
.flag-bj {
  background-image: url(/SystemImages/flags/bj.png);
}
/* benin */
.flag-bl {
  background-image: url(/SystemImages/flags/bl.png);
}
/* saint barthélemy */
.flag-bm {
  background-image: url(/SystemImages/flags/bm.png);
}
/* bermuda */
.flag-bn {
  background-image: url(/SystemImages/flags/bn.png);
}
/* brunei darussalam */
.flag-bo {
  background-image: url(/SystemImages/flags/bo.png);
}
/* bolivia, plurinational state of */
.flag-bq {
  background-image: url(/SystemImages/flags/bq.png);
}
/* bonaire, saint eustatius and saba */
.flag-br {
  background-image: url(/SystemImages/flags/br.png);
}
/* brazil */
.flag-bs {
  background-image: url(/SystemImages/flags/bs.png);
}
/* bahamas */
.flag-bt {
  background-image: url(/SystemImages/flags/bt.png);
}
/* bhutan */
.flag-bw {
  background-image: url(/SystemImages/flags/bw.png);
}
/* botswana */
.flag-bv {
  background-image: url(/SystemImages/flags/bv.png);
}
/* bouvet island */
.flag-by {
  background-image: url(/SystemImages/flags/by.png);
}
/* belarus */
.flag-bz {
  background-image: url(/SystemImages/flags/bz.png);
}
/* belize */
.flag-ca {
  background-image: url(/SystemImages/flags/ca.png);
}
/* canada */
.flag-cc {
  background-image: url(/SystemImages/flags/cc.png);
}
/* cocos (keeling) islands */
.flag-cd {
  background-image: url(/SystemImages/flags/cd.png);
}
/* congo, the democratic republic of the */
.flag-cf {
  background-image: url(/SystemImages/flags/cf.png);
}
/* central african republic */
.flag-cg {
  background-image: url(/SystemImages/flags/cg.png);
}
/* congo */
.flag-ch {
  background-image: url(/SystemImages/flags/ch.png);
}
/* switzerland */
.flag-ci {
  background-image: url(/SystemImages/flags/ci.png);
}
/* côte d'ivoire */
.flag-ck {
  background-image: url(/SystemImages/flags/ck.png);
}
/* cook islands */
.flag-cl {
  background-image: url(/SystemImages/flags/cl.png);
}
/* chile */
.flag-cm {
  background-image: url(/SystemImages/flags/cm.png);
}
/* cameroon */
.flag-cn {
  background-image: url(/SystemImages/flags/cn.png);
}
/* china */
.flag-co {
  background-image: url(/SystemImages/flags/co.png);
}
/* colombia */
.flag-cr {
  background-image: url(/SystemImages/flags/cr.png);
}
/* costa rica */
.flag-cs {
  background-image: url(/SystemImages/flags/cs.png);
}
.flag-cu {
  background-image: url(/SystemImages/flags/cu.png);
}
/* cuba */
.flag-cv {
  background-image: url(/SystemImages/flags/cv.png);
}
/* cape verde */
.flag-cw {
  background-image: url(/SystemImages/flags/cw.png);
}
/* curaçao */
.flag-cx {
  background-image: url(/SystemImages/flags/cx.png);
}
/* christmas island */
.flag-cy {
  background-image: url(/SystemImages/flags/cy.png);
}
/* cyprus */
.flag-cz {
  background-image: url(/SystemImages/flags/cz.png);
}
/* czech republic */
.flag-de {
  background-image: url(/SystemImages/flags/de.png);
}
/* germany */
.flag-dj {
  background-image: url(/SystemImages/flags/dj.png);
}
/* djibouti */
.flag-dk {
  background-image: url(/SystemImages/flags/dk.png);
}
/* denmark */
.flag-dm {
  background-image: url(/SystemImages/flags/dm.png);
}
/* dominica */
.flag-do {
  background-image: url(/SystemImages/flags/do.png);
}
/* dominican republic */
.flag-dz {
  background-image: url(/SystemImages/flags/dz.png);
}
/* algeria */
.flag-ec {
  background-image: url(/SystemImages/flags/ec.png);
}
/* ecuador */
.flag-ee {
  background-image: url(/SystemImages/flags/ee.png);
}
/* estonia */
.flag-eg {
  background-image: url(/SystemImages/flags/eg.png);
}
/* egypt */
.flag-eh {
  background-image: url(/SystemImages/flags/eh.png);
}
/* western sahara */
.flag-en {
  background-image: url(/SystemImages/flags/en.png);
}
.flag-er {
  background-image: url(/SystemImages/flags/er.png);
}
/* eritrea */
.flag-es {
  background-image: url(/SystemImages/flags/es.png);
}
/* spain */
.flag-et {
  background-image: url(/SystemImages/flags/et.png);
}
/* ethiopia */
.flag-eu {
  background-image: url(/SystemImages/flags/eu.png);
}
.flag-fa {
  background-image: url(/SystemImages/flags/fa.png);
}
.flag-fi {
  background-image: url(/SystemImages/flags/fi.png);
}
/* finland */
.flag-fj {
  background-image: url(/SystemImages/flags/fj.png);
}
/* fiji */
.flag-fk {
  background-image: url(/SystemImages/flags/fk.png);
}
/* falkland islands (malvinas) */
.flag-fm {
  background-image: url(/SystemImages/flags/fm.png);
}
/* micronesia, federated states of */
.flag-fo {
  background-image: url(/SystemImages/flags/fo.png);
}
/* faroe islands */
.flag-fr {
  background-image: url(/SystemImages/flags/fr.png);
}
/* france */
.flag-ga {
  background-image: url(/SystemImages/flags/ga.png);
}
/* gabon */
.flag-gb {
  background-image: url(/SystemImages/flags/gb.png);
}
/* united kingdom */
.flag-gd {
  background-image: url(/SystemImages/flags/gd.png);
}
/* grenada */
.flag-ge {
  background-image: url(/SystemImages/flags/ge.png);
}
/* georgia */
.flag-gf {
  background-image: url(/SystemImages/flags/gf.png);
}
/* french guiana */
.flag-gg {
  background-image: url(/SystemImages/flags/gg.png);
}
/* guernsey */
.flag-gh {
  background-image: url(/SystemImages/flags/gh.png);
}
/* ghana */
.flag-gi {
  background-image: url(/SystemImages/flags/gi.png);
}
/* gibraltar */
.flag-gl {
  background-image: url(/SystemImages/flags/gl.png);
}
/* greenland */
.flag-gm {
  background-image: url(/SystemImages/flags/gm.png);
}
/* gambia */
.flag-gn {
  background-image: url(/SystemImages/flags/gn.png);
}
/* guinea */
.flag-gp {
  background-image: url(/SystemImages/flags/gp.png);
}
/* guadeloupe */
.flag-gq {
  background-image: url(/SystemImages/flags/gq.png);
}
/* equatorial guinea */
.flag-gr {
  background-image: url(/SystemImages/flags/gr.png);
}
/* greece */
.flag-gs {
  background-image: url(/SystemImages/flags/gs.png);
}
/* south georgia and the south sandwich islands */
.flag-gt {
  background-image: url(/SystemImages/flags/gt.png);
}
/* guatemala */
.flag-gu {
  background-image: url(/SystemImages/flags/gu.png);
}
/* guam */
.flag-gw {
  background-image: url(/SystemImages/flags/gw.png);
}
/* guinea-bissau */
.flag-gy {
  background-image: url(/SystemImages/flags/gy.png);
}
/* guyana */
.flag-hk {
  background-image: url(/SystemImages/flags/hk.png);
}
/* hong kong */
.flag-hm {
  background-image: url(/SystemImages/flags/hm.png);
}
/* heard island and mcdonald islands */
.flag-hn {
  background-image: url(/SystemImages/flags/hn.png);
}
/* honduras */
.flag-hr {
  background-image: url(/SystemImages/flags/hr.png);
}
/* croatia */
.flag-ht {
  background-image: url(/SystemImages/flags/ht.png);
}
/* haiti */
.flag-hu {
  background-image: url(/SystemImages/flags/hu.png);
}
/* hungary */
.flag-ia {
  background-image: url(/SystemImages/flags/ia.png);
}
.flag-id {
  background-image: url(/SystemImages/flags/id.png);
}
/* indonesia */
.flag-ie {
  background-image: url(/SystemImages/flags/ie.png);
}
/* ireland */
.flag-ih {
  background-image: url(/SystemImages/flags/ih.png);
}
.flag-il {
  background-image: url(/SystemImages/flags/il.png);
}
/* israel */
.flag-im {
  background-image: url(/SystemImages/flags/im.png);
}
/* isle of man */
.flag-in {
  background-image: url(/SystemImages/flags/in.png);
}
/* india */
.flag-io {
  background-image: url(/SystemImages/flags/io.png);
}
/* british indian ocean territory */
.flag-iq {
  background-image: url(/SystemImages/flags/iq.png);
}
/* iraq */
.flag-ir {
  background-image: url(/SystemImages/flags/ir.png);
}
/* iran, islamic republic of */
.flag-is {
  background-image: url(/SystemImages/flags/is.png);
}
/* iceland */
.flag-it {
  background-image: url(/SystemImages/flags/it.png);
}
/* italy */
.flag-je {
  background-image: url(/SystemImages/flags/je.png);
}
/* jersey */
.flag-jm {
  background-image: url(/SystemImages/flags/jm.png);
}
/* jamaica */
.flag-jo {
  background-image: url(/SystemImages/flags/jo.png);
}
/* jordan */
.flag-jp {
  background-image: url(/SystemImages/flags/jp.png);
}
/* japan */
.flag-ke {
  background-image: url(/SystemImages/flags/ke.png);
}
/* kenya */
.flag-kg {
  background-image: url(/SystemImages/flags/kg.png);
}
/* kyrgyzstan */
.flag-kh {
  background-image: url(/SystemImages/flags/kh.png);
}
/* cambodia */
.flag-ki {
  background-image: url(/SystemImages/flags/ki.png);
}
/* kiribati */
.flag-km {
  background-image: url(/SystemImages/flags/km.png);
}
/* comoros */
.flag-kn {
  background-image: url(/SystemImages/flags/kn.png);
}
/* saint kitts and nevis */
.flag-ko {
  background-image: url(/SystemImages/flags/ko.png);
}
.flag-kp {
  background-image: url(/SystemImages/flags/kp.png);
}
/* korea, democratic people's republic of */
.flag-kr {
  background-image: url(/SystemImages/flags/kr.png);
}
/* korea, republic of */
.flag-kw {
  background-image: url(/SystemImages/flags/kw.png);
}
/* kuwait */
.flag-ky {
  background-image: url(/SystemImages/flags/ky.png);
}
/* cayman islands */
.flag-kz {
  background-image: url(/SystemImages/flags/kz.png);
}
/* kazakhstan */
.flag-la {
  background-image: url(/SystemImages/flags/la.png);
}
/* lao people's democratic republic */
.flag-lb {
  background-image: url(/SystemImages/flags/lb.png);
}
/* lebanon */
.flag-lc {
  background-image: url(/SystemImages/flags/lc.png);
}
/* saint lucia */
.flag-li {
  background-image: url(/SystemImages/flags/li.png);
}
/* liechtenstein */
.flag-lk {
  background-image: url(/SystemImages/flags/lk.png);
}
/* sri lanka */
.flag-lr {
  background-image: url(/SystemImages/flags/lr.png);
}
/* liberia */
.flag-ls {
  background-image: url(/SystemImages/flags/ls.png);
}
/* lesotho */
.flag-lt {
  background-image: url(/SystemImages/flags/lt.png);
}
/* lithuania */
.flag-lu {
  background-image: url(/SystemImages/flags/lu.png);
}
/* luxembourg */
.flag-lv {
  background-image: url(/SystemImages/flags/lv.png);
}
/* latvia */
.flag-ly {
  background-image: url(/SystemImages/flags/ly.png);
}
/* libyan arab jamahiriya */
.flag-ma {
  background-image: url(/SystemImages/flags/ma.png);
}
/* morocco */
.flag-mc {
  background-image: url(/SystemImages/flags/mc.png);
}
/* monaco */
.flag-md {
  background-image: url(/SystemImages/flags/md.png);
}
/* moldova, republic of */
.flag-me {
  background-image: url(/SystemImages/flags/me.png);
}
/* montenegro */
.flag-mf {
  background-image: url(/SystemImages/flags/mf.png);
}
/* saint martin (french part) */
.flag-mg {
  background-image: url(/SystemImages/flags/mg.png);
}
/* madagascar */
.flag-mh {
  background-image: url(/SystemImages/flags/mh.png);
}
/* marshall islands */
.flag-mk {
  background-image: url(/SystemImages/flags/mk.png);
}
/* macedonia, the former yugoslav republic of */
.flag-ml {
  background-image: url(/SystemImages/flags/ml.png);
}
/* mali */
.flag-mm {
  background-image: url(/SystemImages/flags/mm.png);
}
/* myanmar */
.flag-mn {
  background-image: url(/SystemImages/flags/mn.png);
}
/* mongolia */
.flag-mo {
  background-image: url(/SystemImages/flags/mo.png);
}
/* macao */
.flag-mp {
  background-image: url(/SystemImages/flags/mp.png);
}
/* northern mariana islands */
.flag-mq {
  background-image: url(/SystemImages/flags/mq.png);
}
/* martinique */
.flag-mr {
  background-image: url(/SystemImages/flags/mr.png);
}
/* mauritania */
.flag-ms {
  background-image: url(/SystemImages/flags/ms.png);
}
/* montserrat */
.flag-mt {
  background-image: url(/SystemImages/flags/mt.png);
}
/* malta */
.flag-mu {
  background-image: url(/SystemImages/flags/mu.png);
}
/* mauritius */
.flag-mw {
  background-image: url(/SystemImages/flags/mw.png);
}
/* malawi */
.flag-mv {
  background-image: url(/SystemImages/flags/mv.png);
}
/* maldives */
.flag-mx {
  background-image: url(/SystemImages/flags/mx.png);
}
/* mexico */
.flag-my {
  background-image: url(/SystemImages/flags/my.png);
}
/* malaysia */
.flag-mz {
  background-image: url(/SystemImages/flags/mz.png);
}
/* mozambique */
.flag-na {
  background-image: url(/SystemImages/flags/na.png);
}
/* namibia */
.flag-nc {
  background-image: url(/SystemImages/flags/nc.png);
}
/* new caledonia */
.flag-ne {
  background-image: url(/SystemImages/flags/ne.png);
}
/* niger */
.flag-nf {
  background-image: url(/SystemImages/flags/nf.png);
}
/* norfolk island */
.flag-ng {
  background-image: url(/SystemImages/flags/ng.png);
}
/* nigeria */
.flag-ni {
  background-image: url(/SystemImages/flags/ni.png);
}
/* nicaragua */
.flag-nl {
  background-image: url(/SystemImages/flags/nl.png);
}
/* netherlands */
.flag-no {
  background-image: url(/SystemImages/flags/no.png);
}
/* norway */
.flag-np {
  background-image: url(/SystemImages/flags/np.png);
}
/* nepal */
.flag-nr {
  background-image: url(/SystemImages/flags/nr.png);
}
/* nauru */
.flag-nu {
  background-image: url(/SystemImages/flags/nu.png);
}
/* niue */
.flag-nz {
  background-image: url(/SystemImages/flags/nz.png);
}
/* new zealand */
.flag-oa {
  background-image: url(/SystemImages/flags/oa.png);
}
.flag-oe {
  background-image: url(/SystemImages/flags/oe.png);
}
.flag-ol {
  background-image: url(/SystemImages/flags/ol.png);
}
.flag-om {
  background-image: url(/SystemImages/flags/om.png);
}
/* oman */
.flag-op {
  background-image: url(/SystemImages/flags/op.png);
}
.flag-pa {
  background-image: url(/SystemImages/flags/pa.png);
}
/* panama */
.flag-pe {
  background-image: url(/SystemImages/flags/pe.png);
}
/* peru */
.flag-pf {
  background-image: url(/SystemImages/flags/pf.png);
}
/* french polynesia */
.flag-pg {
  background-image: url(/SystemImages/flags/pg.png);
}
/* papua new guinea */
.flag-ph {
  background-image: url(/SystemImages/flags/ph.png);
}
/* philippines */
.flag-pk {
  background-image: url(/SystemImages/flags/pk.png);
}
/* pakistan */
.flag-pl {
  background-image: url(/SystemImages/flags/pl.png);
}
/* poland */
.flag-pm {
  background-image: url(/SystemImages/flags/pm.png);
}
/* saint pierre and miquelon */
.flag-pn {
  background-image: url(/SystemImages/flags/pn.png);
}
/* pitcairn */
.flag-pr {
  background-image: url(/SystemImages/flags/pr.png);
}
/* puerto rico */
.flag-ps {
  background-image: url(/SystemImages/flags/ps.png);
}
/* palestinian territory, occupied */
.flag-pt {
  background-image: url(/SystemImages/flags/pt.png);
}
/* portugal */
.flag-pw {
  background-image: url(/SystemImages/flags/pw.png);
}
/* palau */
.flag-py {
  background-image: url(/SystemImages/flags/py.png);
}
/* paraguay */
.flag-qa {
  background-image: url(/SystemImages/flags/qa.png);
}
/* qatar */
.flag-re {
  background-image: url(/SystemImages/flags/re.png);
}
/* réunion */
.flag-ro {
  background-image: url(/SystemImages/flags/ro.png);
}
/* romania */
.flag-rs {
  background-image: url(/SystemImages/flags/rs.png);
}
/* serbia */
.flag-ru {
  background-image: url(/SystemImages/flags/ru.png);
}
/* russian federation */
.flag-rw {
  background-image: url(/SystemImages/flags/rw.png);
}
/* rwanda */
.flag-sa {
  background-image: url(/SystemImages/flags/sa.png);
}
/* saudi arabia */
.flag-sb {
  background-image: url(/SystemImages/flags/sb.png);
}
/* solomon islands */
.flag-sc {
  background-image: url(/SystemImages/flags/sc.png);
}
/* seychelles */
.flag-sd {
  background-image: url(/SystemImages/flags/sd.png);
}
/* sudan */
.flag-se {
  background-image: url(/SystemImages/flags/se.png);
}
/* sweden */
.flag-sg {
  background-image: url(/SystemImages/flags/sg.png);
}
/* singapore */
.flag-sh {
  background-image: url(/SystemImages/flags/sh.png);
}
/* saint helena, ascension and tristan da cunha */
.flag-si {
  background-image: url(/SystemImages/flags/si.png);
}
/* slovenia */
.flag-sj {
  background-image: url(/SystemImages/flags/sj.png);
}
/* svalbard and jan mayen */
.flag-sk {
  background-image: url(/SystemImages/flags/sk.png);
}
/* slovakia */
.flag-sl {
  background-image: url(/SystemImages/flags/sl.png);
}
/* sierra leone */
.flag-sm {
  background-image: url(/SystemImages/flags/sm.png);
}
/* san marino */
.flag-sn {
  background-image: url(/SystemImages/flags/sn.png);
}
/* senegal */
.flag-so {
  background-image: url(/SystemImages/flags/so.png);
}
/* somalia */
.flag-sr {
  background-image: url(/SystemImages/flags/sr.png);
}
/* suriname */
.flag-st {
  background-image: url(/SystemImages/flags/st.png);
}
/* sao tome and principe */
.flag-sv {
  background-image: url(/SystemImages/flags/sv.png);
}
/* el salvador */
.flag-sx {
  background-image: url(/SystemImages/flags/sx.png);
}
/* sint maarten (dutch part) */
.flag-sy {
  background-image: url(/SystemImages/flags/sy.png);
}
/* syrian arab republic */
.flag-sz {
  background-image: url(/SystemImages/flags/sz.png);
}
/* swaziland */
.flag-ta {
  background-image: url(/SystemImages/flags/ta.png);
}
.flag-tc {
  background-image: url(/SystemImages/flags/tc.png);
}
/* turks and caicos islands */
.flag-td {
  background-image: url(/SystemImages/flags/td.png);
}
/* chad */
.flag-tf {
  background-image: url(/SystemImages/flags/tf.png);
}
/* french southern territories */
.flag-tg {
  background-image: url(/SystemImages/flags/tg.png);
}
/* togo */
.flag-th {
  background-image: url(/SystemImages/flags/th.png);
}
/* thailand */
.flag-tj {
  background-image: url(/SystemImages/flags/tj.png);
}
/* tajikistan */
.flag-tk {
  background-image: url(/SystemImages/flags/tk.png);
}
/* tokelau */
.flag-tl {
  background-image: url(/SystemImages/flags/tl.png);
}
/* timor-leste */
.flag-tm {
  background-image: url(/SystemImages/flags/tm.png);
}
/* turkmenistan */
.flag-tn {
  background-image: url(/SystemImages/flags/tn.png);
}
/* tunisia */
.flag-to {
  background-image: url(/SystemImages/flags/to.png);
}
/* tonga */
.flag-tr {
  background-image: url(/SystemImages/flags/tr.png);
}
/* turkey */
.flag-tt {
  background-image: url(/SystemImages/flags/tt.png);
}
/* trinidad and tobago */
.flag-tw {
  background-image: url(/SystemImages/flags/tw.png);
}
/* taiwan, province of china */
.flag-tv {
  background-image: url(/SystemImages/flags/tv.png);
}
/* tuvalu */
.flag-tx {
  background-image: url(/SystemImages/flags/tx.png);
}
.flag-tz {
  background-image: url(/SystemImages/flags/tz.png);
}
/* tanzania, united republic of */
.flag-ua {
  background-image: url(/SystemImages/flags/ua.png);
}
/* ukraine */
.flag-ug {
  background-image: url(/SystemImages/flags/ug.png);
}
/* uganda */
.flag-uk {
  background-image: url(/SystemImages/flags/uk.png);
}
.flag-um {
  background-image: url(/SystemImages/flags/um.png);
}
/* united states minor outlying islands */
.flag-un {
  background-image: url(/SystemImages/flags/un.png);
}
.flag-un {
  background-image: url(/SystemImages/flags/un.png);
}
.flag-un {
  background-image: url(/SystemImages/flags/un.png);
}
.flag-us {
  background-image: url(/SystemImages/flags/us.png);
}
/* united states */
.flag-uy {
  background-image: url(/SystemImages/flags/uy.png);
}
/* uruguay */
.flag-uz {
  background-image: url(/SystemImages/flags/uz.png);
}
/* uzbekistan */
.flag-wa {
  background-image: url(/SystemImages/flags/wa.png);
}
.flag-va {
  background-image: url(/SystemImages/flags/va.png);
}
/* holy see (vatican city state) */
.flag-vc {
  background-image: url(/SystemImages/flags/vc.png);
}
/* saint vincent and the grenadines */
.flag-ve {
  background-image: url(/SystemImages/flags/ve.png);
}
/* venezuela, bolivarian republic of */
.flag-wf {
  background-image: url(/SystemImages/flags/wf.png);
}
/* wallis and futuna */
.flag-vg {
  background-image: url(/SystemImages/flags/vg.png);
}
/* virgin islands, british */
.flag-wh {
  background-image: url(/SystemImages/flags/wh.png);
}
.flag-vi {
  background-image: url(/SystemImages/flags/vi.png);
}
/* virgin islands, u.s. */
.flag-vn {
  background-image: url(/SystemImages/flags/vn.png);
}
/* viet nam */
.flag-ws {
  background-image: url(/SystemImages/flags/ws.png);
}
/* samoa */
.flag-wt {
  background-image: url(/SystemImages/flags/wt.png);
}
.flag-vu {
  background-image: url(/SystemImages/flags/vu.png);
}
/* vanuatu */
.flag-ye {
  background-image: url(/SystemImages/flags/ye.png);
}
/* yemen */
.flag-yt {
  background-image: url(/SystemImages/flags/yt.png);
}
/* mayotte */
.flag-za {
  background-image: url(/SystemImages/flags/za.png);
}
/* south africa */
.flag-zm {
  background-image: url(/SystemImages/flags/zm.png);
}
/* zambia */
.flag-zw {
  background-image: url(/SystemImages/flags/zw.png);
}
/* zimbabwe */

