$free-gift-wrapper-background-color: transparent;
$free-gift-wrapper-border-color: #cdcdcd;
$free-gift-buy-button-disabled-background-color: #888888;
$free-gift-price-old-color: #888888;
$free-gift-price-color: red;

  /*
      Free gift
  */
@keyframes animatedBackgroundFreeGift {
  from {
    background-color: lighten($global-primary-color, 35%);
    opacity: 0;
  }
  to {
    background-color: #fff;
    opacity: 1;
  }
}

@keyframes hideFreeGiftWrapper {
  from {
    opacity: 1;
    //height: auto;
  }
  to {
    opacity: 0;
    //height: 0;
  }
}

.cart-details-item-free-gift {
  &.visible {
    animation: animatedBackgroundFreeGift 0.8s ease-in-out 1;
  }
}

.free-gift-placeholder {
  padding-top: 12px;
  clear: both;
}

.free-gift-wrapper  {
  &.hide-free-gift-wrapper {
    animation: hideFreeGiftWrapper 0.8s ease-in-out 1;
  }
  border: 1px solid $free-gift-wrapper-border-color;
  background: $free-gift-wrapper-background-color;
  padding: 10px;
  clear: both;
  margin-top: 16px;
  margin-bottom: 8px;

  &.free-gift-criteria-not-reached {
    .free-gift-buy-button a {
      background-color: $free-gift-buy-button-disabled-background-color;
    }
  }

  &.free-gift-criteria-is-reached {
  }

  &.free-gift-attributes-0 {
    .free-gift-item-wrapper .free-gift-item .free-gift-price-button-wrapper {
      width: 66%;
    }
  }




  //
  //  Info box
  //
  .free-gift-info-wrapper {
    //background-color: lightskyblue;
    width: 50%;
    float: left;
    padding-right: 20px;

    #free-gift-header {
      font-size: 16px !important;
    }

    #free-gift-description {
    }

  }

  //
  //  Items box
  //
  .free-gift-item-wrapper {
    //background-color: hotpink;
    width: 50%;
    float: left;
    padding-left: 20px;
    border-left: 1px dotted #979797;

    .free-gift-item {

      .free-gift-item-image {
        width: 33%;
        //background: gold;
        float: left;
        padding-right: 10px;
      }

      .free-gift-attributes-wrapper {
        width: 33%;
        float: left;
        //background-color: lavender;

        .free-gift-name {
        }
        .free-gift-attribute-wrapper {
          .free-gift-attribute {
            label {
              width: 100%;
              display: inline-block;
            }
            select {
            }
          }
          .free-gift-attribute {
            .free-gift-attribute-label {
              display: block;
            }
          }
          .free-gift-attribute-1 {
          }
          .free-gift-attribute-2 {
            margin-top: 6px;
          }
        }
      }

      .free-gift-price-button-wrapper {
        width: 33%;
        float: left;
        //background-color: salmon;

        .free-gift-price-wrapper {
          text-align: right;

          .free-gift-price-old {
            color: $free-gift-price-old-color;
            display: inline-block;
            margin-right: 4px;
          }
          .free-gift-price {
            color: $free-gift-price-color;
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
          }
        }

        .free-gift-buy-button {
          text-align: right;
          a {
            display: inline-block;
            margin-top: 3px;
            &:disabled {
              background-color: $free-gift-buy-button-disabled-background-color;
            }
          }
        }
      }
    }

  }
}

//
//  Small Only
//
@media #{$small-only} {

  .free-gift-wrapper {
    .free-gift-header {
      font-size: 16px;
    }
    .free-gift-item-wrapper,
    .free-gift-info-wrapper {
      float: none;
      clear: both;
      width: 100%;
      padding: 0;
    }
    .free-gift-item-wrapper {
      margin-top: 12px;
      border-left: 0 solid transparent;
    }
  }
}

//
//  Medium Only
//
@media #{$medium-only} {

  .free-gift-wrapper {
    .free-gift-header {
      font-size: 16px;
    }
    .free-gift-info-wrapper {
      width: 40%;
    }
    .free-gift-item-wrapper {
      width: 60%;
    }
  }
}
