//
//
//    Media Queries
//
//

//
//  Small UP
@media #{$small-up} {
}

//
//  Small Only
@media #{$small-only} {
  body {
    .form-text, .form-textarea, .form-select-wrapper, .form-right {
      width: 100%;
      float: none;
      clear: both;
    }
    .form-label {
      width: 100%;
      float: none;
      clear: both;
      margin-bottom: 2px;
      padding: 4px 0 0 0;
    }
    .form-row-group {
      width: 100%;
      float: none;
    }
    .form-row-group-left {
      padding-right: 0;
    }
  }

  .page-responsivecheckoutwithstandalonemaster,
  .page-responsive-mobile-checkout {
    // Mobile checkout
    .checkout-main-wrapper {
      padding-right: 10px;
      padding-left: 10px;
    }
    .one-column #main-area div.content {
      margin: 0;
    }
  }

  .cart-details-wrapper {
    .cart-summary-wrapper, .discount-list-item {
      .cart-summary-row-right {
        width: 50%;
        padding-left: 10px;
        text-align: right;
        padding-right: 24px;
      }
      .cart-summary-row-right.cart-summary-row-bold {
        width: 50%;
        padding-left: 10px;
        text-align: right;
        padding-right: 24px;
      }
      .cart-summary-row-left {
        width: 50%;
      }
    }
  }
  .form-button.form-button-checkout {
    width: 100%;

  }
  .cart-details-header-wrapper {
    display: none;
  }

  .cart-details-item {

    .cart-details-image {
      width: 19%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      position: absolute;
    }
    .cart-details-info {
      width: 80%;
      margin-left: $cart-details-column-width-article-image-small;
      padding-right: 0;
    }
    div.cart-details-price {
      width: 80%;
      //margin-left: 20%;
      padding-left: 10px;
      margin-left: 20%;
      padding-bottom: 3px;
      margin-bottom: 4px;
      text-align: left;
    }
    span.cart-details-price {
      padding-left: 0;
      margin-left: 0;
    }
    .cart-details-quantity {
      margin-left: $cart-details-column-width-article-image-small;
      float: left;
      width: 40%;
      clear: both;
    }
    .cart-details-total-sum {
      width: 40%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      float: left;
      text-align: right;
      margin-top: 10px;
      .cart-details-total-sum-amount {
      }
      .cart-details-item-remove {
        width: 22px;
        float: none;
        position: relative;
      }

    }
    .cart-details-info-artnr {
      display: none;
    }
    .cart-details-info-link {
      font-weight: 700;
    }

    //
    //  This part is for items that have split discounts
    //
    &.using-new-discounts {
      .cart-details-quantity {
        width: 80%;
      }
      .cart-details-total-sum {
        width: 100%
      }
      .cart-details-discount-item {
        width: 100%;
        padding-right: 26px;
      }
    }
  }

  .customer-info-flag-icon {
    .country-selector-item {
      width: 50%;
    }
    .country-selector-item:nth-child(3n+3) {
      padding-right: 5px;
    }
    .country-selector-item:nth-child(2n+2) {
      padding-right: 0;
    }
  }
  .discount-wrapper {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  .getcustomerinfo-wrapper {
    .getcustomerinfo-inner-wrapper {
      width: 100%;
    }
  }

  .payment-selector-wrapper {
    .payment-selector-item.payment-selector-item-selected {
      .payment-selector-item-options {
        padding-left: 10px;
        .payment-selector-item-options-left {
          width: 100%;
          padding-left: 0;
          padding-right: 10px;
          float: none;
        }
        .payment-selector-item-options-right {
          width: 100%;
          padding-right: 10px;
          float: none;
        }
      }
    }
  }
  .freight-selector-wrapper {
    .freight-selector-inner-wrapper {
      margin-bottom: 0;
      border-bottom: 1px solid $freight-selector-item-border-color;
    }
    .freight-selector-inner-wrapper:last-child {
      border-bottom: 1px solid transparent;
    }
  }
  .component-block {
    padding: 0;
    border: none;
    margin-bottom: 22px;
    background-color: transparent;
  }

  .cart-details-amount-increase,
  .cart-details-amount-decrease {
    font-size: ($global-font-size + 2px);
  }

  .discount-wrapper .discount-form .discount-input {
    max-width: 200px;
    min-width: 150px;
  }

  .payment-selector-wrapper .payment-selector-item.payment-method-43.payment-selector-item-selected .payment-selector-item-options .payment-selector-item-hire-purchase-description {
    margin-top: 0;
  }

  .bonus-voucher-wrapper {
    .bonus-voucher-message {
      .bonus-voucher-message-login-button {
        margin-top: 8px;
        float: none;
      }
    }
  }
}

//
//  Medium and DOWN (medium + small)
//
@media #{$medium-down} {
  .cart-summary-wrapper {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 22px;
  }
  .left-area-wrapper {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .checkout-content-right {
    width: 100%;
    padding-left: 0;
    float: none;
    clear: both;
  }
  .checkout-content-left {
    width: 100%;
    float: none;
    clear: both;
  }

  .customer-info-wrapper-regular,
  .customer-info-wrapper-alternative,
  .membership-wrapper {
    width: 100%;
    clear: both;
    float: none;
  }
  .customer-info-wrapper-alternative {
    padding-left: 0;
    padding-right: 0;
  }
  .getcustomerinfo-wrapper {
    .getcustomerinfo-inner-wrapper {
      width: 100%;
    }
  }
  .order-details-confirmed-summary-wrapper {
    float: none;
    width: 100%;
  }
  .order-details-confirmed-recipient-wrapper {
    margin-top: 42px;
    float: none;
    //  display: inline-block;
    width: auto;
    padding: 0;
  }
  .order-details-confirmed-recipient-inner-wrapper {
    //background-color: transparent;
    //border-top: none;
    //border-bottom: none;
    //padding: 0;
  }
  .payment-selector-wrapper {
    .payment-selector-item-icon-td {
      width: 55px;
    }
    .payment-selector-item-icon {
      width: 55px;
      height: 15px;
      //background-position: 100% 100%;
      background-size: 100%;
    }
  }

  //  Bonus Vouchers
  .bonus-voucher-wrapper {
    .bonus-voucher-message {
      width: 100%;
    }
  }

}

//
//  Medium UP
@media #{$medium-up} {
  body {
    .form-label {
      min-width: 220px;
      max-width: 400px;
    }
  }
}

//
//  Medium ONLY
@media #{$medium-only} {
  .customer-info-flag-icon {
    .country-selector-item {
      width: 33.333%;
    }
    .country-selector-item:nth-child(3n+3) {
      padding-right: 0;
    }
  }
  .payment-selector-wrapper .payment-selector-item.payment-selector-item-selected .payment-selector-item-options {
    padding-left: 10px;
  }

  .payment-selector-wrapper {
    .payment-selector-item.payment-selector-item-selected {
      .payment-selector-item-options {
        padding-left: 10px;
        .payment-selector-item-options-left {
          width: 80%;
          padding-left: 0;
          padding-right: 10px;
          float: none;
        }
        .payment-selector-item-options-right {
          width: 80%;
          padding-right: 10px;
          float: none;
        }
      }
    }
  }

}

//
//  Large UP
@media #{$large-up} {
  body {
    .form-text, .form-textarea, .form-select-wrapper, .form-right {
      //min-width: 400px;
    }
    .getcustomerinfo-input {
      min-width: 263px;
    }

    .cart-details-wrapper {
      .cart-summary-row-left {
        float: left;
        width: 58%;
      }
      .cart-summary-row-right {
        float: left;
        width: 42%;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

//
//  Large Only
@media #{$large-only} {

}

//
//  X-Large UP
@media #{$xlarge-up} {

}

//
//  X-Large ONLY
@media #{$xlarge-only} {

}

//
//  XX-Large UP
@media #{$xxlarge-up} {

}

//
//  XX-Large ONLY
@media #{$xxlarge-only} {

}


