//
//  Mixins
//

// We use this to clear floats
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Simple border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// We use this to render an ordinary input text
@mixin form-text(
  $bg: $form-text-background-color,
  $border-width: $form-text-border-width,
  $border-color: $form-text-border-color,
  $border-radius: $form-text-border-radius,
  $font-size: $form-text-font-size,
  $padding: $form-text-padding,
  $font-family: $form-text-font-family
) {
  background-color: $bg;
  border: $border-width solid $border-color;
  outline-color: $form-outline-color;
  -moz-outline-color: $form-outline-color;
  padding: $padding;
  @include border-radius($border-radius);
  margin-bottom: 2px;
  font-size: $font-size;
  font-family: $font-family;
  -webkit-appearance: none;
  &:focus {
    border-color: $form-outline-color;
  }
  &::-webkit-input-placeholder {
    color: $global-border-color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $global-border-color;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $global-border-color;
  }
  &:-ms-input-placeholder {
    color: $global-border-color;
  }
}

// We use this to render an ordinary button
@mixin form-button(
  $background-color,
  $button-factor,
  $color,
  $color-hover,
  $padding,
  $border-width,
  $border-color,
  $border-radius,
  $font-family,
  $font-size
){
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  background-color: $background-color;
  text-align: center;
  cursor: pointer;
  line-height: normal;
  color: $color;
  padding: $padding;
  border: $border-width solid $border-color;
  font-family: $font-family;
  font-size: $font-size;
  margin-bottom: 8px;
  @include border-radius($border-radius);
  &:hover {
    background-color: darken($background-color,$button-factor);
    color: $color-hover;
    border: $border-width solid darken($border-color, $button-factor);
    text-decoration: none;
  }
}


