/*

    Start my-pages

*/

$my-pages-login-wrapper-background-color: #efefef;
$my-pages-login-wrapper-border-color: #cdcdcd;
$my-pages-order-list-odd-cell-background-color: #efefef;
$my-pages-order-details-item-separator-color: #cdcdcd;
$my-pages-customer-background-color: #dadada;
$my-pages-checkbox-checked-color: green;

//
//  Login & Sign-up
//
#my-pages-login-wrapper {

  .my-pages-signup-form-wrapper {
    max-width: 850px;

    .ff-row-group-left {

    }

  }

  .my-pages-login-form-wrapper {
    background-color: $my-pages-login-wrapper-background-color;
    border: 1px solid $my-pages-login-wrapper-border-color;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
  }
  .my-pages-login-forgot-password-wrapper {
    display: none;
    margin-top: 32px;
  }
}

//
//  Customer Club navigation bar
//
#my-pages-nav {
  @include clearfix();
  background-color: darken(#efefef, 2%);


  margin-top: 12px;
  margin-bottom: 22px;
  .my-pages-nav-item {
    padding: 10px 16px 10px 16px;
    text-align: center;
    //width: 33%;
    border-right: 1px solid #cdcdcc;
    float: left;
    font-size: 18px;
    color: $global-primary-color;
    text-decoration: none;
    &.my-pages-nav-item-active {
      font-weight: 700;
      color: $global-font-color;
    }
    &:hover {
      text-decoration: none;
      color: $global-primary-color;
      cursor: pointer;
      text-decoration: none;
      background-color: darken(#efefef, 10%);
    }
    &:focus {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
}

//
//  Settings
//
#my-pages-settings-wrapper {
  .my-pages-signup-form-wrapper {
    max-width: 850px;
  }
  .toggler-activator {
    @include clearfix();
    font-size: 19px;
    cursor: pointer;

    border-top: 1px solid #dcdcdc;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    &.toggler-inactive {
      &::after {
        float: right;
        content: '\f067';
        font-family: "FontAwesome";
        padding-right: 5px;
      }
    }
    &.toggler-active {
      &::after {
        padding-top: 6px;
        float: right;
        content: '\f068';
        font-family: "FontAwesome";
        padding-right: 5px;
      }
    }
  }
}

//
//  Landing page
//
#my-pages-landing-page-wrapper {
  @include clearfix();
  .my-pages-landing-page-item {
    @include clearfix();
    width: 33%;
    float: left;
    line-height: 26px;
    &.my-pages-landing-page-item-padding {
      padding-right: 30px;
    }
    p {
      margin: 0 0 4px 0;
      line-height: 26px;
    }
  }
  h6 {
    margin-top: 0;
    margin-bottom: 2px;
    text-transform: none;
  }
}

//
//  Order list
//
#my-pages-order-list-wrapper {
  table {
    width: 100%;
    tbody {
      tr:nth-child(odd) {
        background-color: $my-pages-order-list-odd-cell-background-color;
      }
    }
    th {
      text-align: left;
    }
    th, td {
      padding: 4px 8px 4px 4px;
    }
  }
}

//
//  Order details
//
#my-pages-order-details-wrapper {
  @include clearfix();

  hr {
    margin: 6px 0 7px 0;
  }

  #my-pages-order-details-left-wrapper {
    @include clearfix();
    float: left;
    padding-right: 2%;
    width: 60%;
  }
  #my-pages-order-details-right-wrapper {
    @include clearfix();
    float: left;
    width: 40%;
  }

  #my-pages-order-details-articles-wrapper {
    border-bottom: 1px solid $my-pages-order-details-item-separator-color;
    margin-bottom: 8px;
  }
  #my-pages-order-details-discounts-wrapper {
  }
  #my-pages-order-details-summary-wrapper {
    .key {
      text-align: right;
    }
  }
  #my-pages-order-details-customer-wrapper {
    @include clearfix();
  }
}

//
//  Single item in orders list
//
.order-details-item {
  @include clearfix();
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid $my-pages-order-details-item-separator-color;

  &:last-child {
    border-bottom: 1px solid transparent;
  }
  .artNr {
    width: 100%;
    float: none;
    clear: both;
    color: lighten($global-font-color, 20%);
  }
  .name {
    width: 60%;
    float: left;
    text-align: left;
    a {
      color: $global-font-color;
    }
  }
  .amount {
    width: 15%;
    float: left;
    text-align: right;
  }
  .sum {
    width: 25%;
    float: left;
    text-align: right;
  }
  .discount-row {
    @include clearfix();
    .discount-row-name {
      width: 80%;
      float: left;
      font-style: italic;
    }
    .discount-row-sum {
      width: 20%;
      float: left;
      text-align: right;
      font-style: italic;
    }
  }
}

//
//  Customer Club upsell in Order Confirm
//
#customer-club-order-confirm-wrapper {
  @include clearfix();
  padding: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  margin-bottom: 8px;
  #customer-club-order-confirm-info {
    float: left;
    width: 50%;
    padding-right: 2%;
  }
  #customer-club-order-confirm-signup {
    float: left;
    width: 50%;
  }
}

//
//  Generic form handling
//
.form-wrapper {

  .form-required-star {
    display: inline-block;
  }

  .font-size-larger {
    font-size: 16px;
  }
  .margin-right-small {
    margin-right: 12px;
    display: inline-block;
  }

  input[type=radio] {
    opacity: 0;
    position: absolute;
  }
  input[type=radio] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 22px !important; // Size of icon
    width: 22px;
    margin-top: 0;
    margin-left: 1px;
  }
  input[type=radio]:before {
    margin-top: 22px;
  }
  input[type=radio] + label:before {
    content: "\f10c";
    vertical-align: middle;
  }
  input[type=radio]:checked + label:before {
    content: "\f058";
    color: green;
  }
  input[type=radio]:focus + label {
    outline: auto;
    outline-color: $global-primary-color;
  }
  input[type=radio]:disabled + label:before {
    opacity: 0.7;
  }
  input[type=radio]:disabled + label {
    opacity: 0.7;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;
  }
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 22px !important; // Size of icon
    width: 22px;
    margin-top: 0;
    margin-left: 1px;
  }
  input[type=checkbox]:before {
    margin-top: 22px;
  }
  input[type=checkbox] + label:before {
    content: "\f096";
    vertical-align: middle;
  }
  input[type=checkbox]:checked + label:before {
    content: "\f046";
    color: $my-pages-checkbox-checked-color;
  }
  input[type=checkbox]:focus + label {
    outline: auto;
    outline-color: $global-primary-color;
  }
  input[type=checkbox]:disabled + label:before {
    opacity: 0.7;
  }
  input[type=checkbox]:disabled + label {
    opacity: 0.7;
  }

  .ff-single {
    clear: both;
    @include clearfix();
  }

  .ff-row {
    margin-bottom: 12px;
    &.ff-row-spacer {
      padding-top: 22px;
      clear: both;
    }
    label {
      //display: none;
      font-weight: 700;
      &.ff-label-show {
        display: inline-block;
        height: 35px;
        padding-right: 4px;
        font-weight: 400;
      }
    }
    .ff-text {
      width: 100%;
      border: #999999 solid 2px;
      font-size: 16px;
      padding: 5px 6px;
      &::-webkit-input-placeholder {
        color: lighten($global-font-color, 15%);
      }
      &::-moz-placeholder {
        color: lighten($global-font-color, 15%);
      }
      &:-ms-input-placeholder {
        color: lighten($global-font-color, 15%);
      }
      &:-moz-placeholder {
        color: lighten($global-font-color, 15%);
      }
      &.aspNetDisabled {
        background-color: #efefef;
      }
      &:focus {
        outline-color: $global-primary-color;
      }
    }
    .ff-button {
      &.ff-button-large {
        width: 100%;
      }
    }
  }
  .ff-row-group {
    width: 50%;
    float: left;
  }
  .ff-row-group-left {
    padding-right: 18px;
  }

  .ff-select-wrapper {
    margin-top: 4px;
    .ff-select {
      -webkit-appearance: none;
      appearance: none;
      background-color: #cdcdcd;
      border: 1px solid #bbb;
      color: $global-font-color;
      font-size: 16px;
      @include border-radius(4px);
      padding: 2px 10px;
      height: 32px;
      margin-bottom: 4px;
      min-width: 220px;
      -webkit-user-select: none;
      outline: none;
      &::-ms-expand {
        display: none;
      }
      &:focus {
        border-color: $global-primary-color;
      }
    }
    &:after {
      content: "\f107";
      font-family: "FontAwesome";
      color: $global-font-color;
      padding: 6px;
      position: relative;
      left: -30px;
      top: 0;
      background: transparent;
      text-align: center;
      pointer-events: none;
    }
  }
}

body.browser-firefox {
  .ff-select-wrapper {
    select {
      -moz-appearance: none;
      -moz-user-select: none;
      color: $global-font-color;
      text-shadow: 0 0 0 $global-font-color;
    }
  }
}

body.browser-internet-explorer {
  .ff-select-wrapper {
    &:after {
      display: inline-block;
    }
  }
}

//
//  Key / value lists
//
.key-value-row {
  @include clearfix();
  margin-bottom: 4px;
  .key {
    width: 50%;
    float: left;
  }
  .value {
    width: 50%;
    float: left;
    text-align: right;
  }
}

//
//  Key / value / value lists
//
.key-value-value-row {
  @include clearfix();
  margin-bottom: 4px;
  .key {
    width: 40%;
    float: left;
  }
  .value-1 {
    width: 30%;
    float: left;
    text-align: right;
  }
  .value-2 {
    width: 30%;
    float: left;
    text-align: right;
  }
}

//
//  Responsive tables
//
@media #{$medium-down} {
  table.responsive {
    margin-bottom: 0;
  }
  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 35%;
    overflow: hidden;
    overflow-x: scroll;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%;
  }
  .pinned table th, .pinned table td {
    white-space: nowrap;
  }
  .pinned td:last-child {
    border-bottom: 0;
  }
  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc;
  }
  div.table-wrapper div.scrollable {
    margin-left: 35%;
  }
  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden;
  }
  table.responsive td, table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
    display: none;
  }
}

//
//  Small only
//
@media #{$small-only} {

  .form-wrapper {
    .ff-row-group {
      width: 100%;
      float: none;
      clear: both;
    }
    .ff-row-group-left {
      padding-right: 0;
    }
  }
  #my-pages-nav {
    .my-pages-nav-item {
      .nav-item-text {
        display: none;
      }
    }
  }
  #my-pages-landing-page-wrapper {
    .my-pages-landing-page-item {
      width: 100%;
      float: none;
      margin-bottom: 22px;
      &.my-pages-landing-page-item-padding {
        padding-right: 0;
      }
    }
  }
  .reveal-modal {
    width: 90%;
    min-height: auto;
    padding: 15px;
    left: 20px;
    top: 20px;
    .close-reveal-modal {
      top: 0;
    }
  }


  #customer-club-order-confirm-wrapper {
    #customer-club-order-confirm-info {
      float: none;
      width: 100%;
      padding-right: 0;
    }
    #customer-club-order-confirm-signup {
      float: none;
      width: 100%;
    }
  }


}

//
//  Medium down
//
@media #{$medium-down} {
  #my-pages-order-details-wrapper {
    #my-pages-order-details-left-wrapper {
      float: none;
      padding-right: 0;
      width: 100%;
    }
    #my-pages-order-details-right-wrapper {
      margin-top: 22px;
      float: none;
      width: 100%;
    }
  }
  #my-pages-order-details-customer-wrapper {
    padding: 10px;
    background-color: $my-pages-customer-background-color;
    border-radius: 10px;
  }
  #my-pages-order-details-summary-wrapper {
    .key-value-row {
      .key {
        width: 70%;
      }
      .value {
        width: 30%;
      }
    }
  }
}

//
//  Large up
//
@media #{$large-up} {

}

/*

    End my-pages

*/
