.payment-selector-wrapper {

  .payment-un {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-more.png");
  }
  /* Fler alternativ */
  .payment-1 {
    background-image: url("/SystemImages/responsive-checkout/payment/logo-postforskott.png");
  }
  /* PostförskottSE */
  .payment-1-NO {
    background-image: url("/SystemImages/responsive-checkout/payment/logo-postforskott-no.png");
  }
  /* Postförskott Norge */
  .payment-2 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-faktura.png");
  }
  /* Egen Faktura SE */
  .payment-3 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-kontant.png");
  }
  /* Kontant vid avhämtning */
  .payment-4 {
    background-image: url("/SystemImages/responsive-checkout/payment/logo-kortbetalning.png");
  }
  /* Betalkort */
  .payment-5 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-bgpg.png");
  }
  /* Bank/Postgiro */
  .payment-6 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-paybybill.png");
  }
  /* Paybybill*/
  .payment-8 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-egenbetalmetod.png");
  }
  /* Egen betalningsmetod 1 */
  .payment-9 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-egenbetalmetod.png");
  }
  /* Egen betalningsmetod 2 */
  .payment-10 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-egenbetalmetod.png");
  }
  /* Egen betalningsmetod 3 */
  .payment-11 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-egenbetalmetod.png");
  }
  /* Egen betalningsmetod 4 */
  .payment-12 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-egenbetalmetod.png");
  }
  /* Egen betalningsmetod 5 */
  .payment-15 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-direktbetalning.png");
  }
  /* Direktbetalning (default)*/
  .payment-16 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-handelsbankennetpay.png");
  }
  /* Handelsbanken NetPay  */
  .payment-17 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-handelsbankenfaktura.png");
  }
  /* Faktura Handelsbanken */
  .payment-13 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* FakturaKredSE */
  .payment-14 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* Delbetalning */
  .payment-19 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* FakturaKredFI */
  .payment-20 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* FakturaKredDK */
  .payment-21 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* FakturaKreditorNO */
  .payment-22 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* DelbetalningKredFI */
  .payment-23 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* DelbetalningKredDK */
  .payment-24 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* DelbetalningKredNO */
  .payment-31 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* FakturaKredDE */
  .payment-32 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* DelbetalningDE */
  .payment-33 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* FakturaKredNL */
  .payment-34 {
    background: transparent url(https://cdn.klarna.com/1.0/shared/image/generic/logo/global/basic/logo_black.png?width=100);
    background-position: 14px center;
    background-repeat: no-repeat;
  }
  /* DelbetalningNL */
  .payment-25 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-payson.png");
  }
  /* Payson - paysonloggan */
  .payment-26 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-intrum.png");
  }
  /* FakturaIntrum - intrum justitia */
  .payment-28 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-gemoneybank.png");
  }
  /* GEMoneyBank - logga*/
  .payment-29 {
    background-image: url("/SystemImages/responsive-checkout/payment/logo-kortbetalning.png");
  }
  /* Postenbetalväxel */
  .payment-30 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-paypal.png");
  }
  /* Payson */
  .payment-35 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-payson.png");
  }
  /* Resursbank Invoice */
  .payment-37 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-resursbank-invoice.png");
  }
  /* Resursbank Revolving Credit */
  .payment-38 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-resursbank-applycard.png");
  }
 /* Resursbank Card */
  .payment-39 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-resursbank-card.png");
  }
 /* Resursbank Part Payment */
  .payment-40 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-resursbank-partialpayment.png");
  }
/* QliroInvoice */
  .payment-42 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-qliro-invoice.png");
  }
/* QliroPartPay */
  .payment-43 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-qliro-partialpayment.png");
  }
/* QliroCampaign */
  .payment-44 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-qliro-campaign.png");
  }
/* 45 - CollectorInvoice */
  .payment-45 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-collector.png");
  }
/* 46 - CollectorPartPayment */
  .payment-46 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-collector.png");
  }
/* 47 - CollectorAccount */
  .payment-47 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-collector.png");
  }
/* 48 - CollectorCampaign */
  .payment-48 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-collector.png");
  }
/* 49 - CollectorCompanyInvoice */
  .payment-49 {
    background-image: url("/SystemImages/responsive-checkout/payment/payment-icon-collector.png");
  }





}

//
//  Medium and DOWN (medium + small)
//
@media #{$medium-down} {


  .payment-selector-wrapper {

    .payment-selector-item-text {
      margin-top: 7px;
    }

    /* Faktura Handelsbanken */
    .payment-13 {
      background-position: 6px center;
    }
    /* FakturaKredSE */
    .payment-14 {
      background-position: 6px center;
    }
    /* Delbetalning */
    .payment-19 {
      background-position: 6px center;
    }
    /* FakturaKredFI */
    .payment-20 {
      background-position: 6px center;
    }
    /* FakturaKredDK */
    .payment-21 {
      background-position: 6px center;
    }
    /* FakturaKreditorNO */
    .payment-22 {
      background-position: 6px center;
    }
    /* DelbetalningKredDK */
    .payment-24 {
      background-position: 6px center;
    }
    /* DelbetalningKredNO */
    .payment-31 {
      background-position: 6px center;
    }
    /* FakturaKredDE */
    .payment-32 {
      background-position: 6px center;
    }
    /* DelbetalningDE */
    .payment-33 {
      background-position: 6px center;
    }
    /* FakturaKredNL */
    .payment-34 {
      background-position: 6px center;
    }
  }
}