//
//  responsive-checkout-style.scss
//

/*
  Color codes are listed as fake selectors in .color-codes
  Use these for manual search & replace
*/

.debug-color-codes {
  primary-color: $global-primary-color;
  font-color: $global-font-color;
  attention-color: $global-attention-color;
  approved-color: $global-approved-color;
  border-color: $global-border-color;
}

.checkout-main-wrapper * {
  box-sizing: border-box;
}

body {
  background-image: none !important;
  font-family: global-font-family();
  font-size: $global-font-size;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.resetfloat {
  @include clearfix();
}

.hidethis, .visible {
  display: block;
}

.showthis, .invisible {
  display: none;
}

.tooltip {
  display: block;
  background-color: red;
  color: #000;
  height: 100px;
  width: 100px;
}

//
//  Generic
//
body .pi-overlay {
  height: 35px;
  width: 35px;
}

.checkout-main-wrapper a:focus {
  outline: $form-outline-color solid medium;
}

.hiddenSelectedAddressIndex, .hiddenFieldForUpdate {
  display: none !important;
}

//
//  Columns, handle display of #left-area & #right-area
//
.checkout-main-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

body.one-column {
  #main-area div.content,
  #main-area {
    float: none;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #main-area {
    padding-left: 10px;
    padding-right: 10px;
  }
}

body.two-columns {
  #main-area div.content,
  #main-area {
    float: left;
    clear: none;
  }
  #leftarea {
    float: left;
    clear: none;
  }
  .checkout-content-left,
  .checkout-content-right,
  .customer-info-wrapper-regular,
  .customer-info-wrapper-alternative,
  .membership-wrapper {
    width: 100% !important;
    clear: none !important;
  }
  .checkout-content-right {
    padding-left: 0;
  }
  .checkout-main-wrapper {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

body.three-columns {
  // Three columns are possible, however the
  // right area will never be output from the backend,
  // hence the three column design are the same
  // as the two column design. DRY:
  @extend body.two-columns;
}

body.hide-left-area div#content-wrapper div#left-area {
  display: none;
}

//
//  Cart Header
//
h2.component-header {
  font-size: 22px;
  margin-top: 8px;
  span.component-header-number {
    width: 22px;
    height: 22px;
    display: inline-block;
    padding: 3px 7px;
    margin-top: -4px;
    background-color: $cart-header-number-color;
    margin-right: 6px;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-size: ($global-font-size - 4px) !important;
    line-height: ($global-font-size) !important;
    @include border-radius(100px);
  }
}

//
//  Change Customer Type
//
.change-customertype-wrapper {
  .component-header {
    display: inline-block;
    padding-right: 12px;
  }
}

.change-customertype-button {
  display: inline-block;
  text-decoration: none;
  font-size: $changecustomertype-button-font-size;
  float: right;
  font-weight: normal;
  padding-left: 8px;
}

//
//  Alternative Delivery Address
//
.altdeliveryaddress-toggle-button {
  display: inline-block;
  text-decoration: underline;
  font-size: $altdeliveryaddress-toggle-button-font-size;
  margin-bottom: 12px;
}

.altdeliveryaddress-toggle-button:focus {
  outline: auto;
  outline-color: $form-outline-color;
}

//
//  Cart Empty / Continue Shopping
//
.empty-cart-wrapper {
  .continue-shopping-button.form-button {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    display: block;
    @include form-button(
            $continue-shopping-button-background-color,
            $form-button-factor,
            $continue-shopping-button-color,
            $continue-shopping-button-color-hover,
            $continue-shopping-button-padding,
            $continue-shopping-button-border-width,
            $continue-shopping-button-border-color,
            $continue-shopping-button-border-radius,
            $continue-shopping-button-font-family,
            $continue-shopping-button-font-size
    );
  }
}

//
//  Get Customer Info
//
.getcustomerinfo-wrapper {

  .getcustomerinfo-inner-wrapper {
    display: block;
    float: left;
    padding: 10px 20px;
    background-color: #eeeeee;
    border-top: 1px solid $global-border-color;
    border-bottom: 1px solid $global-border-color;
    margin-bottom: 12px;
    width: 75%;
  }
  .getcustomerinfo-header {
    font-weight: 700;
  }
  .getcustomerinfo-table-input-td {
    width: 100%;
  }
  .getcustomerinfo-button {
    margin-left: 8px;
    @include form-button(
            $getcustomerinfo-button-background-color,
            $form-button-factor,
            $getcustomerinfo-button-color,
            $getcustomerinfo-button-color-hover,
            $getcustomerinfo-button-padding,
            $getcustomerinfo-button-border-width,
            $getcustomerinfo-button-border-color,
            $getcustomerinfo-button-border-radius,
            $getcustomerinfo-button-font-family,
            $getcustomerinfo-button-font-size
    );
  }
  .getcustomerinfo-input.form-text {
    @include form-text(
            $getcustomerinfo-input-background-color,
            $getcustomerinfo-input-border-color,
            $getcustomerinfo-input-border-width,
            $getcustomerinfo-input-border-radius,
            $getcustomerinfo-input-font-size,
            $getcustomerinfo-input-padding,
            $getcustomerinfo-input-font-family
    );
  }
  .getcustomerinfo-inner-error {
    color: $global-attention-color;
  }
  .getcustomerinfo-inner-error:before {
    font-family: 'FontAwesome';
    content: '\f0e7';
    color: $global-attention-color;
    margin: 0 6px 0 2px;
  }
}

.multiple-addresses-wrapper {
  .multiple-addresses-text {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: ($global-font-size + 1px);
  }
  .radio-button-list-table {
    width: 98%;
  }
  td {
    padding-bottom: 4px;
    border-bottom: 1px solid $global-border-color;
  }
  label:before {
    margin-right: 8px;
  }
  tr.selected-address {
    label {
      font-weight: 700;
      font-style: italic;
    }
  }
  .select-address-button.address-selected {
    @include form-button(
            $global-approved-color,
            $form-button-factor,
            $form-button-color,
            $form-button-color-hover,
            $form-button-padding,
            0,
            transparent,
            $form-button-border-radius,
            $form-button-font-family,
            $form-button-font-size
    );
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
  }
}

//
//  Cart Details
//
@mixin cart-item-padding() {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
}

.cart-details-header-wrapper {
  padding-bottom: 2px;
  border-bottom: 1px solid $global-border-color;
  margin-bottom: 6px;
  @include clearfix();
  p {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
  }
  p.cart-details-header-article {
    width: $cart-details-column-width-article;
    visibility: hidden;
  }
  p.cart-details-header-price {
    width: $cart-details-column-width-price;
  }
  p.cart-details-header-quantity {
    width: $cart-details-column-width-quantity;
    padding-left: 31px;
  }
  p.cart-details-header-total-sum {
    width: $cart-details-column-width-total-sum;
  }
}

.cart-details-item {
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid $global-border-color;
  @include clearfix();
  .itemimage {
    // This is an overwrite for base, needed for overlays
    border: none;
    background: none;
    margin-right: 0;
    position: relative;
  }
  .cart-details-image {
    width: $cart-details-column-width-article-image;
    float: left;
    padding-left: 0;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .cart-details-info {
    width: $cart-details-column-width-article-info;
    float: left;
    @include cart-item-padding();
    .cart-details-info-link {
      margin-bottom: 2px;
    }
    p.cart-details-info-artnr {
      margin-bottom: 4px;
    }
    .cart-details-info-artnr,
    .cart-details-comment-name,
    .cart-details-comment-value,
    .cart-details-specification-name,
    .cart-details-specification-value,
    {
      font-size: ($global-font-size - 3);
    }
    .cart-details-comment-name {
      padding-right: 4px;
    }
    .cart-details-comment p {
      margin-bottom: 4px;
    }
  }
  .cart-details-item-remove {
    float: right;
    width: 22px;
  }
  .cart-details-item-remove-text {
    display: none;
  }
  .cart-details-item-remove-icon {
    color: $global-border-color;
    padding: 3px 0 3px 10px;
  }
  .cart-details-item-remove-icon:hover {
    color: $global-attention-color;
  }
  .amount-error-inner {
    color: $global-attention-color;
    font-size: ($global-font-size - 3);
  }
  .amount-error-inner:before {
    color: $global-attention-color;
    font-family: 'FontAwesome';
    content: '\f0e7';
    margin: 0 6px 0 2px;
    font-size: ($global-font-size - 3);
  }
  .cart-details-price {
    white-space: nowrap;
    width: $cart-details-column-width-price;
    float: left;
    @include cart-item-padding();
  }
  .cart-details-price-previous {
    display: none;
  }
  .cart-details-quantity {
    width: $cart-details-column-width-quantity;
    float: left;
    @include cart-item-padding();
    a {
      color: $global-font-color;
      display: inline-block;
      padding-top: 4px;
    }
    a.cart-details-amount-disabled {
      i {
        color: lighten($global-font-color, 50%);
      }
    }
    .cart-details-amount-input {
      display: inline-block;
      text-align: center;
      width: 45px;
      vertical-align: top;
      @include form-text(
              $form-text-background-color,
              $form-text-border-color,
              1px,
              $form-text-border-radius,
              14px,
              4px 6px,
              $form-text-font-family
      );
    }
    a.cart-details-refresh {
      display: none !important;
    }
  }
  .RadInput_Error_Default {
    @extend .cart-details-quantity;
  }
  .cart-details-total-sum {
    width: $cart-details-column-width-total-sum;
    white-space: nowrap;
    float: left;
    @include cart-item-padding();
  }
}

//
//  Left Area with Free freight and discount
//
.left-area-wrapper {
  width: 50%;
  float: left;
  margin-top: 1px;
  @include clearfix();
}

//
//  Free Freight Message
//
.responsive-free-freight.responsive-free-freight-placement-cartsummary,
.responsive-free-freight.responsive-free-freight-placement-orderconfirmation {
  padding: 0;
  color: $global-attention-color;
  font-size: $global-font-size;
  background-color: lighten($global-attention-color, 45%);
  border: 1px solid lighten($global-attention-color, 35%);
  padding: 8px 12px;

  &.responsive-free-freight-limit-reached {
    padding: 8px 12px;
    background-color: lighten($global-approved-color, 50%);
    border: 1px solid lighten($global-approved-color, 15%);
    color: $global-font-color;
    span:before {
      font-family: 'FontAwesome';
      content: '\f00c';
      margin-right: 8px;
    }
  }
}

#FreeFreight_CheckoutConfirm {
  float: none;
  clear: both;
  padding: 8px;
}

//
//  Discount
//
.discount-wrapper {
  padding-right: 10px;
  margin-top: 4px;
  .discount-header {
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    font-size: ($global-font-size - 3px);
    &:focus {
      outline: $form-outline-color solid medium;
    }
  }
  .discount-form {
    display: none;
  }
  .discount-input {
    max-width: 300px;
    min-width: 200px;
    width: 100%;
    @include form-text(
            $form-text-background-color,
            $form-text-border-color,
            $form-text-border-width,
            $form-text-border-radius,
            16px,
            $form-text-padding,
            $form-text-font-family
    );
  }
  .discount-button {
    margin-left: 4px;
    @include form-button(
            $discount-button-background-color,
            $form-button-factor,
            $discount-button-color,
            $form-button-color-hover,
            $discount-button-padding,
            0,
            transparent,
            $form-button-border-radius,
            $form-button-font-family,
            $global-font-size - 2px
    );
  }
}

.discount-validate-success span, .discount-validate-error span {
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 12px;
}

.discount-validate-success, .discount-validate-error {
  font-weight: bold;
}

.discount-validate-success span {
  background-color: $discount-background-color-success;
  color: white;
}

.discount-validate-error span {
  background-color: $discount-background-color-error;
  border-top: 2px solid red;
  border-bottom: 1px solid red;
}

.discount-list {
  .discount-list-item {
    @include  clearfix();
    margin-bottom: 6px;
    .discount-list-item-name .fa {
      display: inline-block;
      color: $global-approved-color;
      padding-right: 4px;
    }
    .cart-summary-discount-item-description {
      display: none;
    }
  }
}

//
//  Bonus Vouchers
//
.bonus-voucher-wrapper {
  .bonus-voucher-message {
    @include clearfix();
    background-color: #eeeeee;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    width: 75%;
    padding: 10px 16px 10px 16px;
    margin-bottom: 12px;
    h4 {
      color: $global-font-color;
    }
    .bonus-voucher-message-text {
      color: $global-font-color;
    }
    .bonus-voucher-message-login-button {
      float: right;
    }
  }
  .bonus-voucher-list {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    background-color: #eeeeee;
    width: 75%;
    padding: 16px;
    margin-bottom: 8px;
    .activate-bonus-voucher-button {
      color: $global-font-color;
      background-color: #eeeeee;
      border: none;
      &:hover {
        color: black;
      }
    }
    h4 {
      color: $global-font-color;
    }
    table {
      tr {
        border-bottom: 1px solid #aaaaaa;
        &:last-child {
          border-bottom: 1px solid transparent;
        }
        td {
          padding-top: 5px;
          padding-bottom: 5px;
          color: $global-font-color;
          &:last-child {
            padding-bottom: 4px;
          }
        }
        td.activate {
          text-align: right;

        }
      }
    }

  }
}

//
//  Gift Voucher Input Wrapper
//  TODO Sassify this
//
.gift-voucher-input-wrapper {
  margin-bottom: 12px; }
.gift-voucher-input-wrapper .gift-voucher-input-header {
  font-weight: 700; }
.gift-voucher-input-wrapper .gift-voucher-input-button {
  margin-left: 8px;
  margin-top: 5px; }
.gift-voucher-input-wrapper .gift-voucher-input-button.aspNetDisabled {
  cursor: default;
  background-color: #999999; }
.gift-voucher-input-wrapper .gift-voucher-input-validate-error {
  color: red;
  margin-top: 3px;
  margin-bottom: 3px; }
.gift-voucher-input-wrapper .gift-voucher-input-validate-success {
  margin-top: 3px;
  margin-bottom: 3px; }
.gift-voucher-input-wrapper .gift-voucher-input-active-header {
  margin-bottom: 2px; }
.gift-voucher-input-wrapper .gift-voucher-input-active-row {
  margin-bottom: 6px; }
.gift-voucher-input-wrapper .gift-voucher-input-active-row .gift-voucher-input-active-row-description {
  display: inline-block;
  margin-left: 4px;
  font-style: italic; }


//
//  Cart Summary
//
.cart-summary-wrapper {
  margin-top: 4px;
  width: 50%;
  padding-left: 20px;
  padding-right: 0px;
  float: left;
  .cart-summary-group {
    margin-bottom: 3px;
    @include clearfix();
  }
  .cart-summary-row {
    margin-bottom: 3px;
    @include clearfix();
  }
  .cart-summary-row-bold {
    font-weight: 700;
    .cart-summary-row-left {
      font-weight: 700;
    }
    .cart-summary-row-right {
      font-weight: 700;
    }
  }
  .cart-summary-row-large {
    margin-top: 8px;
    font-size: $cart-summary-large-text-font-size;
  }
  .cart-summary-row-left {
    float: left;
    width: 60%;
  }
  .cart-summary-row-right {
    float: left;
    width: 40%;
    text-align: right;
  }
  .cart-details-wrapper {
    .cart-summary-row-right.cart-summary-row-bold {
      padding-left: 10px;
      text-align: left;
    }
  }
  .cart-summary-discount-label {
    font-style: italic;
  }
  .cart-summary-discount-item {
    @include clearfix();
    .cart-summary-discount-item-description {
      padding-left: 8px;
      font-style: italic;
      display: none;
    }
  }
}

.cart-details-wrapper {
  .cart-summary-row-left {
    float: left;
    width: $cart-details-column-width-article + $cart-details-column-width-price + $cart-details-column-width-quantity;
  }
  .cart-summary-row-right {
    float: left;
    width: $cart-details-column-width-total-sum;
    text-align: left;
    padding-left: 10px;
  }

  .cart-details-discount-wrapper {
    .cart-details-discount-item {
      //clear: both;
      white-space: normal;
      color: $global-attention-color;
      font-size: 14px;
      margin-top: 4px;
    }
  }
}

.order-confirm-cart-summary-wrapper {
  .cart-summary-wrapper {
    width: 100%;
    padding-left: 0;
  }
  .cart-summary-wrapper-inner {
    .cart-summary-row-bold {
      font-weight: normal;
    }
  }
}

//
//  Address Confirmation Dialog
//
.address-confirm-wrapper * {
  box-sizing: border-box;
}

.address-confirm-wrapper {
  h2 {
    margin-top: 12px;
  }
  .address-confirm-part-wrapper {
    margin-right: 12px;
    .address-confirm-row {
      clear: both;
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $global-border-color;
      span {
        vertical-align: top;
        display: inline-block;
        width: 48%;
        padding-right: 2%;
        font-size: ($global-font-size - 3px);
      }
      b {
        font-weight: normal;
        vertical-align: top;
        display: inline-block;
        width: 50%;
        font-size: ($global-font-size - 3px);
      }
    }
  }
  .address-confirm-button-wrapper {
    margin-top: 12px;
    margin-right: 12px;
  }
  .form-button.address-confirm-close-button {
    color: white;
    float: left;
    background-color: $address-confirm-close-button-background-color;
    border: none;
    &:hover {
      background-color: darken($address-confirm-close-button-background-color, 10%);
    }
  }
  .form-button.address-confirm-ok-button {
    color: white;
    float: right;
    padding-right: 24px;
    padding-left: 24px;
    border: none;
  }
}

//
//  Membership / Login
//
body a.cart-header-login-button {
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  float: right;
}

.membership-wrapper {
  width: 50%;
  .membership-login-wrapper {
    display: none;

    .membership-login-button {
      text-transform: none;
      font-weight: normal;
      @include form-button(
              $membership-button-background-color,
              $form-button-factor,
              $membership-button-color,
              $membership-button-color-hover,
              $membership-button-padding,
              $membership-button-border-width,
              $membership-button-border-color,
              $membership-button-border-radius,
              $membership-button-font-family,
              $membership-button-font-size
      );
    }
  }
}

//
//  Country Selector
//
.country-selector-item {
  width: 33.333%;
  padding: 0 5px 5px 0;
  float: left;
  .country-selector-item-link {
    @include border-radius($global-radius);
    background-color: $country-selector-item-background-color;
    border: 2px solid $country-selector-item-border-color;
    color: $country-selector-item-color;
    display: block;
    padding: 5px 8px 8px 8px;
    .country-selector-item-icon {
      position: absolute;
      height: 24px;
      margin: 0;
      width: 24px;
      vertical-align: middle;
      display: block;
    }
    .country-selector-item-text {
      padding-left: 32px;
      margin-top: 3px;
      vertical-align: middle;
      display: inline-block;
      float: right;
      width: 100%;
    }
  }
}

.country-selector-item:nth-child(3n+3) {
  padding-right: 0;
}

.country-selector-item-link.country-selector-item-link-selected {
  background-color: $country-selector-item-active-background-color;
  border: 2px solid $country-selector-item-active-border-color;
  color: $country-selector-item-active-color;
  font-weight: 700;
}

.customer-info-country-selector-wrapper {
  margin-left: 35px;
}

.country-selector-dropdown {
  min-width: 200px;
  max-width: 100%;
  width: 100%;
}

.country-select-buttons {
  .country-selector-indicator-flag-wrapper {
    display: none !important;
  }
  .customer-info-country-selector-wrapper {
    margin-left: 0 !important;
  }
}

.country-select-dropdown {
  .country-selector-indicator-flag-wrapper {
    span {
      margin-top: 5px;
    }
  }
}

.country-select-single {
}

//
//  Payment Selector
//
.payment-selector-wrapper {
  .more-description {
    height: 100px;
    background-color: hotpink;
    @include clearfix;
  }
  .payment-selector-options-list {
    .payment-selector-option,
    .payment-selector-option-more {
      background: red;
      padding-top: 20px;
      width: 25%;
      float: left;
      text-align: center;
    }
  }
}

.payment-selector-wrapper {
  .payment-selector-inner-wrapper {
    border-bottom: 1px solid $payment-selector-item-border-color;
  }
  .payment-selector-item {
    width: 100%;
    padding: 0;
    clear: both;
    border-top: 1px solid $payment-selector-item-border-color;
  }
  .payment-selector-item.payment-selector-item-selected {
    border-color: $payment-selector-item-active-border-color;
    .payment-selector-item-text {
      font-weight: 700;
    }
    .payment-selector-item-options {
      clear: both;
      background-color: $global-selected-color;
      padding-left: 135px;
      padding-bottom: 8px;
      padding-top: 8px;
      border-top: 1px solid lighten($payment-selector-item-border-color, 5%);
      border-left: 1px solid $payment-selector-item-border-color;
      border-right: 1px solid $payment-selector-item-border-color;
      font-size: ($global-font-size - 3px);
      ul {
        list-style: none;
        padding: 0;
      }
      .sub-options-wrapper {
        width: 50%;
        float: left;
      }
      .payment-selector-item-options-left {
        width: 65%;
        //padding-left: 20px;
        float: left;
        margin-bottom: 12px;
      }
      .payment-selector-item-options-right {
        width: 70%;
        //float: left;
        margin-bottom: 12px;
      }
    }
  }
  .payment-selector-item-link {
    background-color: $payment-selector-item-background-color;
    border-left: 1px solid $payment-selector-item-border-color;
    border-right: 1px solid $payment-selector-item-border-color;
    color: $payment-selector-item-color;
    display: block;
    padding: 5px 10px;
    &:hover {
      text-decoration: none;
      background-color: darken($payment-selector-item-background-color, 10%);
      border-color: darken($payment-selector-item-border-color, 10%);
    }
  }
  .payment-selector-item-link.payment-selector-item-link-selected {
    background-color: $payment-selector-item-active-background-color;
    border-right: 1px solid $payment-selector-item-border-color;
    border-left: 1px solid $payment-selector-item-border-color;
    color: $payment-selector-item-active-color;
  }
  .payment-selector-item-icon-td {
    width: 110px;
  }
  .payment-selector-item-icon {
    width: 110px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .payment-selector-item-text-td {
    text-align: left;
    vertical-align: top;
  }
  .payment-selector-item-text {
    margin-top: 17px;
    padding-left: 14px;
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle;
  }
  .payment-selector-item-cost-td {
    width: 85px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
  }
  .payment-selector-item-cost {
    font-size: ($global-font-size - 3px);
  }
  .payment-selector-item-card-number-title,
  .payment-selector-item-option-credit-title {
    display: block;
  }
  .payment-selector-item-read-more-link {
    display: block;
  }
  .payment-selector-item-select-box {
    font-size: $global-font-size;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  .payment-selector-item-select-box:focus {
    font-size: $global-font-size;
  }
  .payment-selector-item-text-input {
    font-size: $global-font-size;
    padding: 4px 6px;
    @include border-radius($global-radius);
    border: 1px solid $global-border-color;
    margin-top: 3px;
  }
  .payment-selector-item-text-input:focus {
    font-size: $global-font-size;
    outline: auto;
    outline-color: $form-outline-color;
  }
  .payment-selector-item-indicator-td {
    width: 26px;
    vertical-align: middle;
    text-align: center;
  }
  .payment-selector-item-active-indicator {
    color: $global-approved-color;
    font-size: ($global-font-size + 4px);
    display: inline-block;
  }
  .fast-payment-monthly-cost-span {
    display: none;
  }
  .hire-purchase-list {
    width: 50%;
    padding-right: 20px;
    float: left;
  }
  .hire-purchase-div {
    width: 50%;
    float: right;
  }
  .hire-purchase-monthly-cost-table {
    td {
      padding: 7px 4px 5px 4px;
      img {
        vertical-align: top;
      }
    }
  }
  // Jetbill
  .payment-method-36 {
    .sub-options-label {
      display: none;
    }
    .payment-selector-item-options ul {
      margin-top: 0 !important;
    }
    .hire-purchase-div {
    }
  }

}

// Klarna user-case norway
.checkout-main-wrapper .use-case {
  padding-right: 10px;
}

// Resursbank displayed in iframe
.resursbank-legal-info {
  display: block;
  max-width: 800px;
  margin: 0 auto;

  .headText {
    font-weight: 700;
    margin-bottom: 6px;
    display: block;
  }

  table {
    max-width: 700px;
    width: 100%;
  }

  table td {
    padding: 3px 5px;
  }

  table tr.oddRow {
    background-color: #f3f3f3;
  }

  .tailText {
    display: inline-block;
    margin-top: 10px;
  }

}

//
//  Freight Selector
//
.freight-selector-wrapper {
  margin-bottom: 22px;
  .freight-selector-inner-wrapper {
    margin-bottom: 0;
    border-bottom: 1px solid $freight-selector-item-border-color;
  }
  .freight-selector-item {
    width: 100%;
    border-top: 1px solid $freight-selector-item-border-color;
    border-left: 1px solid $freight-selector-item-border-color;
    border-right: 1px solid $freight-selector-item-border-color;
    .freight-selector-item-link {
      display: block;
      padding: 10px;
      background-color: $freight-selector-item-background-color;
      color: $freight-selector-item-color;
      &:hover {
        text-decoration: none;
        background-color: darken($freight-selector-item-background-color, 10%);
      }
    }
    .freight-selector-item-link.aspNetDisabled {
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 8px;
      background-color: $freight-selector-item-active-background-color;
      color: $freight-selector-item-active-color;
      font-weight: 700;
    }
    .freight-selector-icon {
    }
    .freight-selector-name-td {
      padding-top: 0;
      margin-top: 0;
    }
    .freight-selector-name {
      display: block;
    }
    .freight-selector-description {
      display: block;
      font-size: ($global-font-size - 3px);
    }
    .freight-selector-cost {
      font-size: ($global-font-size - 3px);
      padding-left: 4px;
      padding-right: 4px;
      display: inline-block;
    }
    .freight-selector-cost-td {
      width: 75px;
    }
    .freight-selector-indicator-td {
      width: 26px;
      height: 28px;
      text-align: center;
    }
    .freight-selector-item-active-indicator {
      color: $global-approved-color;
      font-size: ($global-font-size + 4px);
      display: inline-block;
    }
  }
  .freight-selector-choose-service {
    background-color: lighten($freight-selector-item-active-background-color, 5%);
    padding: 10px;
    border-top: 1px solid lighten($payment-selector-item-border-color, 5%);
    select {
      font-size: 16px;
    }
  }
}

.freighticon {
  width: 110px;
  height: 30px;
  margin-top: 5px;
  background: none;
  display: none;
}

//
//  Mandatory Information Wrapper
//
.mandatory-information-wrapper {
  margin-top: 14px;
  margin-bottom: 6px;
}

//
//  Checkout Button
//
.checkout-button-wrapper {
  clear: both;
  text-align: right;
}

//
//  Cart Comments
//
.cart-comments-wrapper {
  .form-row.form-row-textarea,
  .form-row.form-row-select,
  {
    .form-label {
      width: 100%;
      max-width: 100%;
    }
    .form-textarea {
      width: 100%;
      max-width: 100%;
    }
    .form-select-wrapper {
      padding-top: 0;
      .form-select {
        margin-top: 0 !important;
      }
    }
  }
}

//
//  Fancy Box Info
//
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  display: none;
}

.fancybox-wrap * {
  box-sizing: border-box;
}

.fb-info {
  background: white;
  padding-top: 24px;
  color: #333;
  width: 100%;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

.fb-info .fb-wrapper {
  width: 100%; // 302px
  padding-left: 10px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.fb-info h2 {
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: #333;
}

.fb-info a {
  background: #cdcdcd;
  display: block;
  width: 79px;
  height: 24px;
  text-align: center;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  line-height: 24px;
  text-decoration: none;
  text-shadow: #fff 1px 1px;
  margin: 0 auto;
}

.fb-info a:hover {
  background-position: 0 -24px;
  text-shadow: #fff 1px 1px;
}

.fb-buttonwrapper, .btnLoadProfile-wrapper, .btnForgotPassword-wrapper {
  float: right;
}

//
//  Loading Partial Overlay
//
#divOverlayOnPartialUpdate {
  margin-top: 34px;
  margin-left: 34px;
}

#divOverlayOnPartialUpdateWrapper {
}

//
//  Error Summary
//
.error-summary-wrapper {
  clear: both;
}

.error-summary-inner-wrapper {
  background-color: $global-attention-color;
  padding: 10px;
  margin: 12px 0;
  border-top: 2px solid darken(red, 10%);
  border-bottom: 2px solid darken(red, 10%);
  color: white;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 4px;
    padding-left: 24px;
  }
  li > label {
    padding-left: 3px;
  }
  li label:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  li:before {
    font-family: 'FontAwesome';
    content: '\f0e7';
    margin: 0 5px 0 -22px;
    color: white;
  }
}

.klarna-checkout-unavailable-error-wrapper {
  i {
    padding-right: 26px;
    padding-top: 5px;
    float: left;
    display: inline-block;
    clear: both;
  }
  .klarna-checkout-unavailable-error-inner-wrapper {
    float: left;
    width: 85%;
  }
}

//
//  Order Confirm
//
.order-confirm-wrapper {
  clear: both;
  float: none;
  .order-confirm-terms {
    margin-top: 12px;
    a {
      text-decoration: underline;
    }
  }
  .collector-terms-and-conditions {
    display: inline-block;
  }
}

//
//  Font Awesome Checkboxes
//
.checkout-main-wrapper {
  input[type=checkbox] {
    opacity: 0;
    position: absolute;
  }
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 22px !important; // Size of icon
    width: 22px;
    margin-top: 0;
    margin-left: 1px;
  }
  input[type=checkbox]:before {
    margin-top: 22px;
  }
  input[type=checkbox] + label:before {
    content: "\f096";
    vertical-align: middle;
  }
  input[type=checkbox]:checked + label:before {
    content: "\f046";
    color: $global-approved-color;
  }
  input[type=checkbox]:focus + label {
    outline: auto;
    outline-color: $form-outline-color;
  }
  input[type=checkbox]:disabled + label:before {
    opacity: 0.7;
  }
  input[type=checkbox]:disabled + label {
    opacity: 0.7;
  }
}

//
//  Font Awesome Radios
//
.checkout-main-wrapper {
  input[type=radio] {
    display: none;
    position: absolute;
  }
  input[type=radio] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 22px !important;
    width: 22px;
    margin-top: 0;
    margin-right: 4px;
  }
  input[type=radio]:before {
    margin-top: 22px;
  }
  input[type=radio] + label:before {
    content: "\f096";
    vertical-align: middle;
  }
  input[type=radio]:checked + label:before {
    content: "\f046";
    color: $global-approved-color;
  }
  input[type=radio]:disabled + label:before {
    opacity: 0.7;
  }
  input[type=radio]:disabled + label {
    opacity: 0.7;
  }
}

//
//  Customer Info / Form framework
//
body {

  .form-group .form-row:last-child {
    margin-bottom: 24px;
  }

  .form-row {
    margin-bottom: $form-margin-bottom;
    p {
      margin-bottom: 4px;
      clear: both;
    }
  }
  .form-row.form-row-textarea {
    .form-label {
      vertical-align: top;
    }
  }
  .customer-info-flag-icon {
    .flagicon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
      float: left;
    }
    .customer-info-flag-text {
      padding-left: 4px;
      vertical-align: middle;
      display: inline-block;
      padding-top: 2px;
    }
  }
  .form-required-star {
    color: $global-attention-color;
    padding-left: 3px;
    font-weight: 700;
    font-size: $global-font-size + 4px;
    line-height: 0;
    display: none;
  }
  .form-text {
    width: 100%;
    float: none;
    clear: both;
    @include form-text(
            $form-text-background-color,
            $form-text-border-color,
            $form-text-border-width,
            $form-text-border-radius,
            $form-text-font-size,
            $form-text-padding,
            $form-text-font-family
    );
  }
  .form-text:disabled {
    border-color: lighten($form-text-border-color, 10%);
    cursor: not-allowed;
    background-color: #f3f3f3;
    color: lighten($global-font-color, 25%);
    font-style: italic;
  }
  .form-text.pre-filled {
    border-color: $global-approved-color;
    background-image: url("/SystemImages/responsive-checkout/icon-checkmark.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 16px;
    opacity: 0.8;
  }
  .form-label {
    width: 100%;
    float: none;
    clear: both;
    font-weight: 700;
    padding: $form-label-padding;
    display: inline-block;
    margin-bottom: $form-margin-bottom;
    margin-top: $form-margin-top;
  }
  .customer-wrapper {
    .form-label {
      display: block; // Change this to display labels
    }
  }
  // Special treatment for forms that are 50/50 split
  .form-row-group {
    width: 50%;
    float: left;
  }
  .form-row-group-left {
    padding-right: 18px;
  }
  .form-textarea {
    padding: 8px;
    font-family: $form-text-font-family;
    border: $form-text-border-width solid $form-text-border-color;
    outline-color: $form-outline-color;
    font-size: $global-font-size;
    resize: $form-default-textarea-resize;
    @include border-radius($form-default-border-radius);
    margin-bottom: 6px;
    -webkit-appearance: none;
  }
  .form-select-wrapper {
    margin-bottom: $form-margin-bottom;
    vertical-align: top;
    padding-top: 8px;
    .form-select {
      border: 2px solid $global-border-color;
      font-size: $global-font-size;
      vertical-align: top;
      padding: 3px;
      margin-top: 8px;
      outline-color: $form-outline-color;
    }
  }
  .form-button {
    @include form-button(
            $form-button-background-color,
            $form-button-factor,
            $form-button-color,
            $form-button-color-hover,
            $form-button-padding,
            $form-button-border-width,
            $form-button-border-color,
            $form-button-border-radius,
            $form-button-font-family,
            $form-button-font-size
    );
  }
  .form-button.form-button-link {
    @include form-button(
            transparent,
            0,
            $global-font-color,
            $global-font-color,
            0 0 0 10px,
            0,
            transparent,
            0,
            $form-button-font-family,
            $form-button-font-size
    );
  }
  .form-button.form-button-link:hover {
    text-decoration: underline;
  }
  .form-button.form-button-checkout {
    clear: both;
    margin-top: 6px;
    margin-bottom: 22px;
    @include form-button(
            $form-button-checkout-background-color,
            $form-button-factor,
            $form-button-checkout-color,
            $form-button-checkout-color-hover,
            $form-button-checkout-padding,
            $form-button-checkout-border-width,
            $form-button-checkout-border-color,
            $form-button-checkout-border-radius,
            $form-button-checkout-font-family,
            $form-button-checkout-font-size
    );
    width: 100%;
    &:focus {
      background-color: darken($form-button-checkout-background-color, $form-button-factor);
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
  .form-button.form-button-checkout:focus,
  .form-button.form-button-checkout:active {
    outline: dotted;
  }
  .membership-password-input-error,
  .customer-info-input-error {
    font-style: italic;
    padding-left: 7px;
    padding-bottom: 3px;
    display: inline-block;
    color: $global-attention-color;
  }
  .checkbox-wrapper {
    label {
      padding: 8px 3px 3px 0px;
    }
  }
  // Special treatment for checkboxes, textareas and selects that are required
  .order-confirm-age .form-required-star {
    display: inline-block;
  }
  .cart-comments-wrapper .form-required-star {
    display: inline-block;
  }
  .order-confirm-terms .form-required-star {
    display: inline-block;
  }
}

.payment-method-input-error {
  font-style: italic;
  padding-left: 7px;
  padding-bottom: 3px;
  display: block;
  color: $global-attention-color;
}

//
//  Terms & Conditions
//
#terms-and-conditions {
  max-width: 900px;
}

//
//  Order Confirm Page
//
.order-details-confirmed-wrapper {
  @include clearfix();
}

.order-details-confirmed-box {
  background-color: $order-details-confirmed-box-background-color;
  padding: 10px;
  border: 1px solid $global-border-color;
}

.order-details-confirmed-box-inner {
  max-width: $order-details-confirmed-box-inner-max-width;
  margin-left: auto;
  margin-right: auto;
}

.order-details-order-number {
  font-weight: 700;
  text-align: right;
}

.order-details-order-date {
  text-align: right;
}

.order-details-confirmed-thank-you-customer-name {
  margin-top: 12px;
  text-align: center;
  i {
    color: $global-approved-color;
    margin-top: 4px;
    margin-bottom: 22px;
  }
}

.order-details-confirmed-summary-wrapper {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid $global-border-color;
}

.order-details-confirmed-recipient-wrapper {
}

.order-details-confirmed-recipient-inner-wrapper {
}

.order-details-confirmed-cart-summary {
  margin-top: 7px;
  width: 100%;
  th, td {
    padding: 4px 6px;
  }
  th:first-child, td:first-child {
    padding-left: 0;
  }
  th:last-child, td:last-child {
    padding-right: 0;
  }
  .order-details-confirmed-cart-summary-specification-row {
    border-bottom: 1px solid $global-border-color;
  }
  .order-details-confirmed-cart-summary-summary-row {
    span {
      display: none;
    }
  }
}

.order-details-confirmed-order-summary {
  margin-top: 12px;
  .order-details-confirmed-order-summary-row {
    margin-bottom: 5px;
    text-align: right;
    .row-left {
      display: inline;
    }
    .row-right {
      min-width: 110px;
      display: inline-block;
    }
  }
}

.order-details-confirmed-recipient {
}

//
//  Customer Club Upsell in Order Confirm
//
#customer-club-order-confirm-wrapper {
  @include clearfix();
  padding: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  margin-bottom: 8px;
  #customer-club-order-confirm-info {
    float: left;
    width: 50%;
    padding-right: 2%;
  }
  #customer-club-order-confirm-signup {
    float: left;
    width: 50%;
    .customer-club-order-confirm-signup-terms label {
      font-weight: normal;
    }
  }
}

//
//  Loading Message
//
.divModalUpdateContainer {
  background: #000;
  width: 300px;
  color: #fff;
  padding: 30px;
  text-align: center;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
}

.divModalUpdateContainerLogin {
  background: #000;
  width: 400px;
  color: #fff;
  padding: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -230px;
  margin-top: -10px;
  opacity: 0.95;
}

.divModalUpdateContainerBody {
  color: #fff;
  font-weight: bold;
  font-size: 19px;
}

//
//  Components in blocks
//
.component-block {
  margin-bottom: 22px;
  // Uncomment these lines to box each component
  //  padding: 0 20px 10px 20px;
  //  border: 1px solid $global-border-color;
  //  background-color: #fafafa;
}

.customer-info-wrapper-regular {
  width: 75%;
  float: none;
}

.customer-info-wrapper-alternative {
  clear: both;
  width: 75%;
  float: none;
}

//
//  Required-star in form inputs
//
.form-row.is-mandatory input[type="text"], .form-row.is-mandatory input[type="password"] {
  &::-webkit-input-placeholder {
    &:after {
      content: "*";
      color: $form-required-star-color;
      font-weight: 700;
      float: right;
      font-size: $global-font-size + 4px;
    }
  }
  &:-moz-placeholder {
    background: url("/SystemImages/responsive-checkout/mandatory-indicator.png") right center no-repeat;
  }
  &::-moz-placeholder {
    background: url("/SystemImages/responsive-checkout/mandatory-indicator.png") right center no-repeat;
  }
  &:-ms-input-placeholder {
    background: url("/SystemImages/responsive-checkout/mandatory-indicator.png") right center no-repeat;
  }
}

//
//  Standalone template for Mobile Checkout & Fixes for non-responsive shops
//
html.page-responsive-mobile-orderconfirmed #main-area,
html.page-responsive-mobile-checkout #main-area,
html.page-responsive-checkout #main-area,
html.page-responsive-orderconfirmed #main-area {
  box-sizing: border-box;
}

html.page-responsive-mobile-checkout div#wrapper-page-content *,
html.page-responsive-mobile-orderconfirmed div#wrapper-page-content * {
  box-sizing: border-box;
}

html.page-responsive-mobile-orderconfirmed #main-area,
html.page-responsive-mobile-checkout #main-area,
html.page-responsive-checkout #main-area,
html.page-responsive-orderconfirmed #main-area {
  width: 100%;
  float: none;
  margin: 0 !important;
}

html.page-responsive-mobile-orderconfirmed #document-wrapper,
html.page-responsive-mobile-checkout #document-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

html.page-responsive-checkout #main-area div.content,
html.page-responsive-orderconfirmed #main-area div.content {
  max-width: 1200px;
  margin: 0 auto;
}

html.page-responsive-mobile-orderconfirmed #main-area div.content,
html.page-responsive-mobile-checkout #main-area div.content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

html.page-responsive-mobile-orderconfirmed #wrapper-page-content,
html.page-responsive-mobile-checkout #wrapper-page-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

html.page-responsive-mobile-orderconfirmed #footer,
html.page-responsive-mobile-checkout #footer {
  width: 100%;
}

html.page-responsive-mobile-orderconfirmed .full-width #main-area,
html.page-responsive-mobile-checkout .full-width #main-area {
  margin: 0;
}

html.page-responsive-mobile-checkout body,
html.page-responsive-mobile-checkout .component-block {
  background-color: white;
}

html.page-responsive-mobile-checkout #document-wrapper {
  background: none;
}

html.page-responsive-mobile-checkout body,
html.page-responsive-mobile-orderconfirmed body {
  min-width: 100% !important;
}

html.page-responsive-mobile-orderconfirmed .order-details-confirmed-summary-wrapper {
  padding: 0;
  background-color: transparent;
  border: 0 solid transparent;
}

html.page-responsive-mobile-orderconfirmed span.article-number {
  display: block;
}

//
//  Fancy Wrapper Login
//
html.responsive-checkout-login,
html.responsive-checkout-login body {
  margin: 0;
  padding: 0;
}

html.responsive-checkout-login body {
  font-family: $global-font-family;
}

.fancy-wrapper-login {
  padding-left: 3px;
  padding-right: 3px;

  h2 {
    margin-top: 0;
    margin-bottom: 3px;
  }
  .form-row {
    margin-bottom: 0px;
    padding-bottom: 6px;
  }
  .form-label {
    margin-bottom: 0;
  }
  .form-button {
    text-decoration: none;
    margin-bottom: 0px;
  }
  .login-validation-error {
    color: $global-attention-color;
  }
  .login-validation-error:before {
    color: $global-attention-color;
    font-family: 'FontAwesome';
    content: '\f0e7';
    margin: 0 6px 0 2px;
  }
}

.login-spinner {
  background: #000;
  width: 200px;
  color: #fff;
  padding: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.95;
  @include border-radius(6px);
}

.fancy-wrapper,
.fancy-wrapper *,
.fancy-inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -safari-box-sizing: border-box;
  box-sizing: border-box !important;
}

//
//  STORE LOCATIONS (not implemented)
//
.store-selector-wrapper {
  margin: 0 2px;
  padding-top: 15px;
}

.store-selector-header {
  text-transform: uppercase;
}

.choose-region, .choose-store {
  display: inline-block;
}

#store-container {
  padding-left: 4px;
}

.store-info > span {
  display: inline-block;
  padding-right: 2px;
  vertical-align: top;
  width: 24%;
}

.store-selector, .store-header, .store-info, .store-desc {
  padding-bottom: 10px;
}

.LocationName {
  font-weight: bold;
}

.store-thank-you-text {
  display: block;
  margin-bottom: 4px;
}

.store-info-headers {
  display: block;
}

.store-info, .store-desc {
  @include clearfix();
  p {
    @include clearfix();
  }

  .store-info-key {
    float: left;
    width: 30%;
  }

  .store-info-value {
    float: left;
    width: 70%;
  }
}

.address2,
.other,
.contact,
.region {
  display: none;
}

//
//  Customer Club
//
.member-service-box.box-right {

  a.button {
    @include form-button(
            $global-attention-color,
            $form-button-factor,
            $form-button-color,
            $form-button-color-hover,
            8px 10px,
            0,
            transparent,
            $form-button-border-radius,
            $form-button-font-family,
            14px
    );
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    text-transform: none;
  }

  .cc-text,
  .cc-bonus-text {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .valid-dark-green {
    display: inline-block;
    margin-top: 4px;
    &:before {
      content: "\f00c";
      font-family: "FontAwesome";
      margin-right: 6px;
      color: $global-approved-color;
    }
  }

  .invalid-dark-red {
    padding: 10px;
    background-color: #eeeeee;
    display: inline-block;
    border: 1px solid $global-attention-color;
    margin-top: 6px;
    &:before {
      content: "\f06a";
      font-family: "FontAwesome";
      margin-right: 6px;
      color: $global-attention-color;
    }
  }

  h3 {
    margin-bottom: 2px;
  }
  .cc-selector-existing-user {
    display: inline-block;
    padding-right: 18px;
  }
  .cc-bonus-btn .button {
    white-space: nowrap;
  }

}

//
//  Customer Club - Membership My pages
//

.page-mypagesmembershipservice {

}

//
//  Klarna Delbetalning
//
.payment-selector-wrapper .payment-selector-item.payment-method-24.payment-selector-item-selected .payment-selector-item-options {
  .payment-selector-item-options-right {
    float: none;
  }
}

//
//  Collector Payment
//
.payment-selector-wrapper .payment-selector-item.payment-method-48.payment-selector-item-selected .payment-selector-item-options {
  .payment-selector-item-options-right {
    //width: 50%;
    display: none;
  }
  .payment-selector-item-options-left {
    display: none;
  }
  .payment-selector-item-options-left.collector-high-credit-input {
    display: block;
  }
  .payment-selector-item-hire-purchase-description {
    //width: 50%;
    // float: right;
    //margin-top: 30px;
    margin-bottom: 12px;
    padding-right: 10px;
  }
  .hire-purchase-list {
    clear: left;
  }
}

//
//  Qliro Payment
//
.payment-selector-wrapper .payment-selector-item.payment-method-43.payment-selector-item-selected .payment-selector-item-options {
  .payment-selector-item-options-right {
    //width: 50%;
  }
  .payment-selector-item-options-left {
    display: none;
  }
  .payment-selector-item-hire-purchase-description {
    //width: 50%;
    //float: right;
    margin-top: 30px;
    padding-right: 10px;
  }
  .hire-purchase-list {
    clear: left;
  }
}

#qliro-terms-and-conditions {
  table {
    margin-bottom: 4px;
    td {
      padding: 7px 4px 5px 4px;
      img {
        vertical-align: top;
      }
    }
  }
  a {
    text-decoration: underline;
  }
}

//
//  No products in cart
//
.no-products-in-cart {
}

/*

  Special treatment for IE 8

*/
html.checkout-ie-8 {
  .form-label {
    display: block;
  }
}

/*

  Special treatment for IE 8

*/
html.checkout-ie-9 {
  .form-label {
    display: block;
  }
}
