//
//  Settings
//
$font-family-sans-serif: "Arial", "Helvetica Neue", Helvetica, sans-serif;
$rem-base: 16px;

// Set this to true to override font-family inherit from style.css & base.css
$use-global-font-family: false;

//$global-radius: 3px;
$global-radius: 0;
$global-max-width: 1200px;
$global-primary-color: #008CBA;
$global-font-size: 16px; // Must be defined as px
$global-font-color: #333333; // #333333
$global-font-family: $font-family-sans-serif;
$global-font-family-button: $font-family-sans-serif;
$global-border-color: #aaaaaa;
$global-attention-color: red;
$global-approved-color: green;
$global-selected-color: #e8ffbb;

$global-item-background-color: #ffffff; // #ffffff
$global-item-color: $global-font-color;
$global-item-border-color: $global-border-color;
$global-item-active-background-color: $global-selected-color;
$global-item-active-color: $global-font-color;
$global-item-active-border-color: darken($global-item-border-color, 10%);

@function global-font-family() {
  @if $use-global-font-family {
    @return $global-font-family !important;
  }
  @else {
    @return inherit;
  }
}

@function global-font-family-button() {
  @if $use-global-font-family {
    @return $global-font-family-button !important;
  }
  @else {
    @return inherit;
  }
}

//
//  Default Form Settings
//
$form-outline-color: $global-primary-color;
$form-required-star-color: $global-border-color;   // NOTE: This setting is only for Google Chrome, other browsers get an image
$form-default-border-radius: $global-radius;
$form-default-textarea-resize: none;

//
//  Form Label
//
$form-label-padding: 4px 0 0px 0 ; // 8px 4px 8px 0
$form-margin-bottom: 2px;
$form-margin-top: 4px;

//
//  Form Text
//
$form-text-background-color: #ffffff;
//$form-text-border-color: $global-border-color;
$form-text-border-color: #999999;
$form-text-border-width: 2px;
$form-text-border-radius: $form-default-border-radius;
$form-text-font-size: $global-font-size;
$form-text-padding: 5px 6px;
$form-text-font-family: global-font-family();

//
//  Form Button
//
$form-button-background-color: #0077a0;
$form-button-color: white;
$form-button-color-hover: white;
$form-button-factor: 12%;
$form-button-padding: 10px 12px;
$form-button-border-color: $form-button-background-color;
$form-button-border-width: 2px;
$form-button-border-radius: $form-default-border-radius;
$form-button-font-family: global-font-family-button();
$form-button-font-size: ($global-font-size - 2px);

//
//  Form Button Checkout
//
$form-button-checkout-background-color: #d00000;
$form-button-checkout-color: white;
$form-button-checkout-color-hover: white;
$form-button-checkout-padding: 12px 18px;
$form-button-checkout-border-color: $form-button-checkout-background-color;
$form-button-checkout-border-width: 0;
$form-button-checkout-border-radius: $form-default-border-radius;
$form-button-checkout-font-family: global-font-family-button();
$form-button-checkout-font-size: ($global-font-size + 4px);

//
//  Cart Header
//
$cart-header-secure-color: white;
$cart-header-secure-font-size: ($global-font-size - 2px);
$cart-header-secure-background-color: #008c20;
$cart-header-secure-border-color: darken($cart-header-secure-background-color, 7%);
$cart-header-number-color: red;

//
//  Change Customer Type
//
$changecustomertype-button-font-size: ($global-font-size - 2px);

//
//  Get Customer Info
//
$getcustomerinfo-input-background-color: $form-text-background-color;
$getcustomerinfo-input-border-color: $global-border-color;
$getcustomerinfo-input-border-width: 2px;
$getcustomerinfo-input-border-radius: $global-radius;
$getcustomerinfo-input-font-size: 16px;
$getcustomerinfo-input-padding: 6px 5px;
$getcustomerinfo-input-font-family: global-font-family();

$getcustomerinfo-button-background-color: $global-attention-color;
$getcustomerinfo-button-color: $form-button-color;
$getcustomerinfo-button-color-hover: $form-button-color-hover;
$getcustomerinfo-button-padding: 6px 12px;
$getcustomerinfo-button-border-width: $form-button-border-width;
$getcustomerinfo-button-border-color: $global-attention-color;
$getcustomerinfo-button-border-radius: $global-radius;
$getcustomerinfo-button-font-family: global-font-family-button();
$getcustomerinfo-button-font-size: ($global-font-size - 2px);

//
//  Alternative Delivery Address
//
$altdeliveryaddress-toggle-button-font-size: ($global-font-size - 3px);

//
//  Cart Details
//
$cart-details-column-width-article-image: 10%;
$cart-details-column-width-article-info: 30%;
$cart-details-column-width-article: ($cart-details-column-width-article-image + $cart-details-column-width-article-info);
$cart-details-column-width-price: 20%;
$cart-details-column-width-quantity: 20%;
$cart-details-column-width-total-sum: 20%;

$cart-details-column-width-article-image-small: 20%;

//
//  Customer Info
//
$select-item-background-color: #5897fb;


//
//  Discount
//
$discount-button-color: $form-button-color;
$discount-button-background-color: $form-button-background-color;
$discount-button-padding: 6px 10px 7px 10px;
$discount-background-color-success: green;
$discount-background-color-error: #fbe5e6;

//
//  Membership / Login
//
$membership-button-background-color: $form-button-background-color;
$membership-button-color: $form-button-color;
$membership-button-color-hover: $form-button-color-hover;
$membership-button-padding: 6px 12px;
$membership-button-border-width: $form-button-border-width;
$membership-button-border-color: $form-button-background-color;
$membership-button-border-radius: $global-radius;
$membership-button-font-family: global-font-family-button();
$membership-button-font-size: 14px;

//
//  Cart empty / Continue Shopping
//
$continue-shopping-button-background-color: $global-primary-color;
$continue-shopping-button-color: $form-button-color;
$continue-shopping-button-color-hover: $form-button-color-hover;
$continue-shopping-button-padding: 12px 18px;
$continue-shopping-button-border-width: $form-button-border-width;
$continue-shopping-button-border-color: transparent;
$continue-shopping-button-border-radius: $global-radius;
$continue-shopping-button-font-family: global-font-family-button();
$continue-shopping-button-font-size: ($global-font-size + 4px);

//
//  Payment Selector
//
$payment-selector-item-background-color: $global-item-background-color;
$payment-selector-item-color: $global-item-color;
$payment-selector-item-hover-background-color:  $global-item-active-background-color;
$payment-selector-item-border-color: $global-item-border-color;
$payment-selector-item-active-background-color: $global-item-active-background-color;
$payment-selector-item-active-color: $global-item-active-color;
$payment-selector-item-active-border-color: $global-item-active-border-color;

//
//  Country Selector
//
$country-selector-item-background-color: $global-item-background-color;
$country-selector-item-color: $global-item-color;
$country-selector-item-border-color: $global-item-border-color;
$country-selector-item-active-background-color: $global-item-active-background-color;
$country-selector-item-active-color: $global-item-active-color;
$country-selector-item-active-border-color: $global-item-active-border-color;

//
//  Freight Selector
//
$freight-selector-item-background-color: $global-item-background-color;
$freight-selector-item-color: $global-item-color;
$freight-selector-item-border-color: $global-item-border-color;
$freight-selector-item-active-background-color: $global-item-active-background-color;
$freight-selector-item-active-color: $global-item-active-color;
$freight-selector-item-active-border-color: $global-item-active-border-color;

//
//  Cart Summary
//
$cart-summary-large-text-font-size: ($global-font-size + 2px);

//
//  Address Confirmation Dialog
//
$address-confirm-close-button-background-color: #444444;

//
//  Order Details Confirmed
//
$order-details-confirmed-box-background-color: #eeeeee;
$order-details-confirmed-box-inner-max-width: 850px;


//
// Media Query Ranges
//
$small-breakpoint: em-calc(640); // 640px
$medium-breakpoint: em-calc(1008); // 1024px
$large-breakpoint: em-calc(1360); // 1440px
$xlarge-breakpoint: em-calc(1600); // 1920px

$small-range: (0, $small-breakpoint);
$medium-range: ($small-breakpoint  + em-calc(1), $medium-breakpoint);
$large-range: ($medium-breakpoint + em-calc(1), $large-breakpoint);
$xlarge-range: ($large-breakpoint  + em-calc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));

$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";
$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";
$medium-down: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($medium-range)})";
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";
$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";
$retina: (
        "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
        "#{$screen} and (min--moz-device-pixel-ratio: 2)",
        "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
        "#{$screen} and (min-device-pixel-ratio: 2)",
        "#{$screen} and (min-resolution: 192dpi)",
        "#{$screen} and (min-resolution: 2dppx)"
);
// Legacy
$small: $medium-up;
$medium: $medium-up;
$large: $large-up;
